<% @shelters.each do |shelter| %>
  <p>Name: <%= shelter.name %></p>
  <p>City: <%= shelter.city %></p>
  <p>Foster Program: <%= shelter.foster_program %></p>
  <p>Rank: <%= shelter.rank %></p>
<% end %>

<footer>
<h1>Shelters with Pending Applications:</h1>
<% @shelter_applications.each do |shelter| %>
  <p><%= shelter %></p>
<% end %>
</footer>