<% if @admin %>

  <h3><%= @shelter %></h3>
 

  <h4> <%= "Action Required" %> </h4>
  <% @pending_pets.each do |pet| %>
    <%= pet.name %> 
    <% pet.applications.each do |application| %>
      <% if application.status == "Pending" %>
        <%= link_to "To #{application.name}'s application for #{pet.name}", "/admin/applications/#{application.id}" %>
      <% end %>
    <% end %>
    <br>
  <% end %>

<div id="stats">
<h4>Shelter Statistics</h3>
  <%= "Average Pet Age: #{@age_stats}" %> <br>
  <%= "Adoptable Pet Count: #{@pet_count}" %> <br>
  <%= "Pets who have found a home!: #{@pets_with_homes}" %>
</div>

<% else %>
  <h1><%= @shelter.name %></h1>
  <p>Rank: <%= @shelter.rank %></p>
  <p>City: <%= @shelter.city %></p>

  <p class="pet-count">Pets at <%= @shelter.name %>: <%= @shelter.pet_count %></p>
  <p><%= link_to "All pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %></p>

  <p><%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %></p>
<% end %>