<% if @admin %>
<h2><%= @shelter.name %></h2>
<h2><%= @shelter.city %></h2>
<div id="stats">
<h4>Statistics</h3>
  <%= "Average Pet Age: #{@age_stats}" %>
</div>
<% else %>
  <h1><%= @shelter.name %></h1>
  <p>Rank: <%= @shelter.rank %></p>
  <p>City: <%= @shelter.city %></p>

  <p class="pet-count">Pets at <%= @shelter.name %>: <%= @shelter.pet_count %></p>
  <p><%= link_to "All pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %></p>

  <p><%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %></p>
<% end %>