<%= render partial: "layouts/app_details" %>

<% @application.pet_applications.each do |admin_pet| %>
  <section id="<%= admin_pet.pet.name %>">
  <p><%= admin_pet.pet.name %>:</p>
  <% if admin_pet.status == "Approved" %>
  <p>Approved</p>
  <% elsif admin_pet.status == "Rejected" %>
  <p>Rejected</p>
  <% else %>
    <div class="button-group">
    <%= button_to "Approve", "/admin/applications/#{admin_pet.application.id}/#{admin_pet.id}", class: "approve-button", method: :patch, data: { turbo: false }, params: {value: "Approved" } %>
    <%= button_to "Reject", "/admin/applications/#{admin_pet.application.id}/#{admin_pet.id}", class: "reject-button", method: :patch, data: { turbo: false }, params: {value: "Rejected" } %>
    </div>
    <% end %>
  </section>
<% end %>