<h3> Applicant Form: Pending for Admin Approval</h3>
<h3> Name: <%= @application.name %></h3>
<h3> Street Address: <%= @application.street_address %></h3>
<h3> City: <%= @application.city %></h3>
<h3> State: <%= @application.state %></h3>
<h3> Zipcode: <%= @application.zip_code %></h3>
<h3> Application Status: <%= @application.application_status %></h3>
<h3> Description: <%= @application.description %></h3>
<h3> Pets Willing to Adopt: <% @application.pet_applications.each do |pet_app| %></h3>
  <div>
    <h2><%= pet_app.pet.name %></h2>
    <% if pet_app.app_status == "approved" && pet_app.application_id == @application.id %>
      <p>Approved</p>
    <% elsif pet_app.app_status == "rejected" && pet_app.application_id == @application.id%>
      <p>Rejected</p>
    <% else %>    
      <h3><%= button_to "Approve application for #{pet_app.pet.name}", "/admin/applications/#{@application.id}", params: [@application, pet_app_id: pet_app.application_id, status: "approved"], method: :patch %></h3>
      <h3><%= button_to "Reject application for #{pet_app.pet.name}", "/admin/applications/#{@application.id}", params: [@application, pet_app_id: pet_app.application_id, status: "rejected"], method: :patch %></h3>
    <% end %>
  </div>
<% end %>