<%= render partial: '/layouts/applicant', locals: {
  name: @applicant.name,
  street_address: @applicant.street_address,
  city: @applicant.city,
  state: @applicant.state,
  zip_code: @applicant.zip_code,
  description: @applicant.description
} %>

<section>
<% if @application.status == "In Progress" %>
<h2>Add a Pet to this Application</h2>
<%= form_with url: "/pets_applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
<%= form.label :search %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>
</section>
<% @searched_pets.each do |pet| %>
  <%= pet.name %><%= form_with url: "/pets_applications/#{@application.id}?pet=#{pet.id}", method: :patch, data: { turbo: false } do |form| %>  
  
  <%= form.submit "Adopt this pet?" %>
  <% end %>
  
  <% end %>
  <% end %>
  
  <h3>Pet you would like to adopt:</h3>
  <% @pets.each do |pet| %>
    <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
  <% end %>
  
<% if !@pets.empty? && @application.status == "In Progress" %>
  <%= form_with url: "/pets_applications/#{@application.id}?status=submit", method: :patch, data: { turbo: false } do |form| %>
    <%= form.submit "Submit Application" %>
  <% end %>
<% end %>
<h4><%= @application.status %></h4>