
<h1>Pending Pet Application For <%= @application.name %> </h1>
<p>Pets applied for:</p>
<ul>

  <% @application.list_of_pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <li><%= pet.name %></li>
      <ul>
        <% if params[:filter] == "#{pet.id}-approved" %>
          <li>Pet Approved</li>
          <li><%= button_to 'Reject', show_admin_applications_path, method: :get, params: {:filter => "#{pet.id}-rejected"} %></li>
        <% elsif params[:filter] == "#{pet.id}-rejected" %>
          <li>Pet Rejected</li>
        <% else %>
          <li><%= button_to 'Approve', show_admin_applications_path, method: :get, params: {:filter => "#{pet.id}-approved"} %></li>
          <li><%= button_to 'Reject', show_admin_applications_path, method: :get, params: {:filter => "#{pet.id}-rejected"} %></li>
        <% end %>
      </ul>
      <br/>
  </div>
  <% end %>
</ul>
