<% @application.find_pets.each do |pet| %>
  <div id="<%= pet.id %>">
    <% if pet.find_application_pet(@application.id).status == "Pending" && local_assigns[:admin] %>
      <%= pet.name %>
      <%= button_to "Approve Application", "/admin/applications/#{@application.id}/application_pets/#{pet.find_application_pets(@application.id).id}?status=approve", method: :patch %>
      <%= button_to "Reject Application", "/admin/applications/#{@application.id}/application_pets/#{pet.find_application_pets(@application.id).id}?status=reject", method: :patch %>
    <% elsif pet.find_application_pet(@application.id).status == "Approved" && local_assigns[:admin] %>
      <%= pet.name %>  
      <p>Application Approved</p>
    <% elsif pet.find_application_pet(@application.id).status == "Rejected" && local_assigns[:admin] %>
      <%= pet.name %>  
      <p>Application Rejected</p>
    <% else %>
      <h4><%= pet.name %></h4>
      <p>Age: <%= pet.age %></p>
      <p>Breed: <%= pet.breed %></p>    
    <% end %>
  </div>
<% end %>