<section id="pet_search">
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.label :search_pet, "Search Pet" %>
    <%= form.text_field :search_pet, :required => true %>
    <%= form.submit "Search" %>
  <% end %>
</section>

<% if params[:search_pet] %>
  <% @searched_pets.each do |searched_pet| %>
    <%= searched_pet.name %>
    <%= form_with model: PetApplication.new, url: "/pet_applications", method: :post, local: true do |form| %>
      <%= form.hidden_field :pet_id, value: searched_pet.id %>
      <%= form.hidden_field :application_id, value: @application.id %>
      <%= form.submit "Adopt This Pet" %>
    <% end %>
  <% end %>
<% end %>