<% @applications.each do |application| %>
  <h2><%= application.name_of_applicant %></h2>
  <p>Application status: <%= application.application_status%></p>
  <p>Address: <%= application.street_address %></p>
  <p>City: <%= application.city %></p>
  <p>State: <%= application.state %></p>
  <p>Zip: <%= application.zip_code %></p>
  <p>Reason for request: <%= application.description %></p>
  <li><%= link_to "#{application.name_of_applicant}", "applications/#{application.id}" %></li>
<% end %>
