<h1>All applications</h1>

<%= form_with url: "/applications", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<%= link_to "Start an Application", "/applications/new" %>

<% @applications.each do |application| %>
  <h3><%= application.name %></h3>
  <p>street_address: <%= application.street_address %></p>
  <p>city: <%= application.city %></p>
  <p>state: <%= application.state %></p>
  <p>zip_code: <%= application.zip_code %></p>
  <p>description: <%= application.description %></p>
  <%= link_to "Edit #{application.name}", "/applications/#{application.id}/edit" %>
  <%= link_to "Delete #{application.name}", "/applications/#{application.id}", method: :delete %>
<% end %>
