<h1>New Application Form</h1>
<%= form_with url: "/applications", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %> <br><br>

  <%= form.label :address, "Street Address" %><br>
  <%= form.text_field :address %><br><br>

  <%= form.label :city %><br>
  <%= form.text_field :city %><br><br>

  <%= form.label :state %><br>
  <%= form.text_field :state %><br><br>

  <%= form.label :zipcode  %><br>
  <%= form.text_field :zipcode %><br><br>

  <%= form.label :description  %><br>
  <%= form.text_field :description %><br><br>


  <%= form.submit "Submit" %><br>
<% end %>