<h1>Start a New Application</h1>

<%= form_with url: "/applications", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.label :street %>
  <%= form.text_field :street %><br>
  <%= form.label :city %>
  <%= form.text_field :city %><br>
  <%= form.label :state %>
  <%= form.text_field :state %><br>
  <%= form.label :zip %>
  <%= form.text_field :zip %><br>
  <%= form.label :description %>
  <%= form.text_area :description, size: "70x5" %><br>
  <%= form.hidden_field :status, value: "In Progress" %><br>
  <%= form.submit "Submit" %>
<% end %>