<h1>Adoption Form</h1>

<%= form_with url: "/applications/new", method: :post, local: true do |form| %>
  <%= form.label "Name:" %>
  <%= form.text_field "Name" %></br>
  <%= form.label "Street Address:" %>
  <%= form.text_field "Street Address" %></br>
  <%= form.label "City:" %>
  <%= form.text_field "City" %></br>
  <%= form.label "State:" %>
  <%= form.text_field "State" %></br>
  <%= form.label "Zip Code:" %>
  <%= form.text_field "Zip Code" %></br>
  <%= form.label "Description:" %>
  <%= form.text_field "Description" %></br>
  <%= form.submit "Submit Application" %>
<% end %>