<h1>New Application</h1>

<% if @application.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@application.errors.full_messages.count, "error") %> prohibited this application from being saved:</h2>

    <ul>
      <% @application.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @application, url: applications_path , method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Submit" %>
<% end %>

