<h1>New Application</h1>
<%= form_with url: '/applications', local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label "Street Address" %>
  <%= f.text_field :street_address %>

  <%= f.label "City" %>
  <%= f.text_field :city %>

  <%= f.label "State" %>
  <%= f.text_field :state %>

  <%= f.label "Zip Code" %>
  <%= f.text_field :zip_code %>

  <%= f.label "Description" %>
  <%= f.text_field :description %>

  <%= f.submit "Submit" %>

<% end %>
