<h1>New Application</h1>
<%= form_with url: "/applications", data: {turbo: false}, local: true do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %>
  <%= f.label "Street Address:" %>
  <%= f.text_field :street %>
  <%= f.label "City:" %>
  <%= f.text_field :city %>
  <%= f.label "State:" %>
  <%= f.text_field :state %>
  <%= f.label "Zip code:" %>
  <%= f.text_field :zip %>
  <%= f.label :good_home, "How can I provide a good home?:" %>
  <%= f.text_field :good_home %>
  <%= f.submit "Submit" %>
<% end %>