<h1>Name: <%=@application.name %></h1>
<h1>Address: <%=@application.street_address %>, <%=@application.city %>, <%=@application.state %>, <%=@application.zip_code %></h1>
<h1>Description: <%=@application.description %></h1>
<h1>Application Status: <%=@application.application_status %></h1>
<% @pet_applications.each do |pa| %>
  <h1><%=link_to pa.pet.name, "/pets/#{pa.pet.id}" %></h1>
<% end %>
<section>
<h1>Add a Pet to this Application</h1>
<%=form_with url: "/applications/#{@application.id}/search", method: :get do |form| %>
<%= form.label :search, "pet search:" %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>
</section>
<section> <% @query.each do |que| %>
    <%= "#{que.name}" %>
  <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets", method: :post, params: {search: que.name}  %>
<% end %>
</section>
