<% if @application.application_status == "In Progress" %>

<h3> Applicant Details:</h3>

<li>Name: <%= @application.name %></li>
<li>Address: <%= @application.street_address %></li>
<li>City: <%= @application.city %></li>
<li>State: <%= @application.state %></li>
<li>Zipcode: <%= @application.zipcode %></li>
<li>Description: <%= @application.description %></li>
<li>Status: <%= @application.application_status %></li>
<br>
<b>Pets Applied For:</b>
<% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
<% end %>

<%else%>

<h3> Applicant Details:</h3>

<li>Name: <%= @application.name %></li>
<li>Address: <%= @application.street_address %></li>
<li>City: <%= @application.city %></li>
<li>State: <%= @application.state %></li>
<li>Zipcode: <%= @application.zipcode %></li>
<li>Description: <%= @application.description %></li>
<li>Status: <%= @application.application_status %></li>
<br>
<b>Pets Applied For:</b>
<% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
<% end %>
<%end%>

<% if @application.application_status == "In Progress"%>
<%= form_with url: "/applications/#{@application.id}", method: :get do |form|%>
  <%= form.label :name_pet, "add a pet to this Application:" %>
  <%= form.text_field :name_pet %>
  <%= form.submit "Submit" %>
<% end %><br>

<% if @pets %>
  Search Result:
  <% @pets.each do |pet| %>
  <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  <%= button_to "Adopt this pet", "/applications/#{@application.id}/pets", method: :post, params: { pet_id: pet.id} %>
  <%end%>
  <%end%><br>
<%end%>


<% if @application.application_pets.any? %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch do |form|%>
    <%= form.label :app_pet_reason, "Why would you make a good owner for these pets?" %>
    <%= form.text_field :app_pet_reason %>
    <%= form.submit "Submit Application" %>
  <% end %>
<% end %>

