<h1>Your Application</h1>

<h4>Name: <%= @application.name  %></h4>
<h4>Street Address: <%= @application.street_address  %></h4>
<h4>City: <%= @application.city  %></h4>
<h4>State: <%= @application.state  %></h4>
<h4>Zip Code: <%= @application.zip_code %></h4>
<h4>Description: <%= @application.description %></h4>
<h4>Status: <%= @application.status %></h4>

<% if @application.status != "Pending" %>
  <h4>Add a Pet to this Application:</h4>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :pet_name, "Search by Pet Name:" %>
    <%= f.text_field :pet_name %>
    <%= f.submit "Search Pets" %>
  <% end %>

<% if @search_pets %>
  <% @search_pets.each do |pet| %>
    <li><%= pet.name %><br><%= button_to "Adopt #{pet.name}", {controller: :application_pets, pet_id: pet.id, application_id: @application.id, action: :create} %></li>
  <% end %>
<% end %>
<% end %>

<% @application.pets.each do |pet| %>
<div id ="pet-<%= pet.id %>">
  <li> <%= link_to pet.name, pets_path(pet) %></li>
  </div>
<% end %>

<%# update application status to pending %>

 <% if @application.status == 'In Progress' && @application.pets != [] %>
    <% if !@application.pets.nil? %>
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
        <p><h3><%= form.label "Description of why You would make a Good Home:" %> </h3></p>
        <%= form.text_field :pet_description, size: "50x5" %>
        <%= form.submit "Submit Application" %>
      <% end %>
    <% end %>
  <% end %>
  <% if @application.status == "Pending" %>
    <h3>Description of why You would make a Good Home:</h3>
    <p><%= @application.pet_description %></p>
    <% end %>