<ul>
  <li>Name: <%= @application.name %></li>
  <li>Street Address: <%= @application.address %></li>
  <li>City: <%= @application.city %></li>
  <li>State: <%= @application.state %></li>
  <li>Zip Code: <%= @application.zip_code%></li>
  <li>Why I would be a good pet owner: <%= @application.description%></li>
  <li>Status: <%= @application.status %></li>
</ul>
<h2>Add a Pet to this Application</h2>
<%= form_with url: "/applications/#{@application.id}/search", method: :get do |form| %>
<%= form.label :search, "Search for Pet" %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>

