<h2>Application Details</h2>

<p>Name: <%= @app.name %></p>
<p>Address: <%= @app.full_address %></p>
<p>Description: <%= @app.description %></p>
<p>Pets: <%= @app.pet_names %></p>
<p>Application Status: <%= @app.status %></p>