<h2>Name: <%= @application.name %></h2>
<p>Address: <%= @application.full_address %></p>
<p>Why would you be a good home?: <%= @application.description %></p>
<p>This application is for the following pets: </p>
<% @application.pets.each do |pet| %>
<p><%= pet.name %></p>
<% end %>
<p>Application Status: <%= @application.status %></p>


<h4>Add a Pet to this Application</h4>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @searched != nil %>
  <%= "Results:" %> <br>
  <% @searched.each do |pet| %>
    <%= pet.name %> 
    <%= link_to "Adopt this Pet", :adopt => "#{pet.id}" %> <br>
  <% end %>
<% end %>
    <%= "Already on Application" if @already_adopted %>

<% if @has_pets != false %>
  <h4><%= "Finalize Application" %></h4><br>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: :true do |f| %>
    <%= f.label "Why would you make a good owner for these pet(s)?" %><br>
    <%= f.text_field :good_owner %>
    <%= f.submit "Submit" %>
  <% end %>
  <%# Show reasoning on why I would be a good pet owner %>
  <%# Change application status to pending %>
<% end %>

<%# Finalize application button %>
  



