<h1>Applicant Information</h1>

<h3>Applicant's Name: </h3> <%= @application.name %>
<h3>Applicant's Address: </h3> <%= @address %>
<h3>Description of why I would make a good home: </h3> <%= @application.description %>
<% if @application.status == "In progress" %>
<h3>Why I would make a good owner for these pet(s):</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :post do %>
  <%= text_field_tag 'Why I would make a good owner for these pet(s)', params[:good_owner], placeholder: 'Enter answer' %>
  <% end %>
<% end %>
<h3>Pets Applied for: </h3>
<% @application.pets.each do |pet| %>
<p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p>
<% end %> 
<h3>Application Status: </h3> <%= @application.status %>

<% if @application.status == "In Progress" %>
  <h3> Add a Pet to this Application:</h3>
  <%= form_with url: "/applications/#{@application.id}?pet_name=#{params[:pet_name]}&commit=Search", method: :get do %>
    <%= text_field_tag 'pet_name', params[:pet_name], placeholder: 'Enter pet name' %>
    <%= submit_tag 'Search' %>

    <p><%= button_to "Submit Application", "/applications/#{@application.id}" %></p>
  <% end %>
<% end %> 


<% if params[:pet_name].present? %>
  <h4> Matching Pets:</h4>
    <% if @matching_pets.blank? %>
      <p> No pets match your search. </p> 
    <% else %>
      <% @matching_pets.each do |pet| %>
        <b><h3><%= pet.name %></b></h3>
        <p>Age: <h3><%= pet.age %></b></h3>
        <p>Breed: <h3><%= pet.breed %></b></h3>
        <p>Adoptable: <h3><%= pet.adoptable %></b></h3>
        <p>You can find <%= pet.name %> at <%= pet.shelter_name%></p>
        <%= button_to "Adopt this Pet", create_pet_application_path(@application, pet), method: :post %>
      <% end %>
    <% end %>
  <% end %><br><br> 