<h1><%= @application.name %></h1>
<h3>Application status: <%= @application.status %></h3>
<p>Address: <%= "#{@application.address}, #{@application.city}, #{@application.state} #{@application.zip}" %></p>
<p>Reasons for adoption: <%= @application.description_why %></p>
<p>Pets on this application: <%=  %></p>