<h2>Application Details</h2>

<p>Name: <%= @app.name %></p>
<p>Address: <%= @app.full_address %></p>
<p>Description: <%= @app.description %></p>
<p>Pets: <%= @app.pet_names.join(" | ") %></p>
<p>Application Status: <%= @app.status %></p>

<% if @app.status == "In Progress" %>
  <hr>
  <h3>Add a Pet</h3>
  <%= form_with url: "/applications/#{@app.id}", method: :get, turbo: false do |form| %>
    <%= form.label :q, "Name:" %>
    <%= form.search_field :q %>

    <%= form.submit "Search" %>
  <% end %>
  <% if @search_results %>
      <p>Search Results: <%= @search_results.join(" | ") %></p>
  <% end %>
<% end %>