<%= render partial: 'partials/application' %>
<h3>Pets:</h3>
<% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br />
<% end %>

<% if @application.application_status != "Pending" %>
  <%= render partial: 'partials/search', locals: { path: "app/views/applications", method: :get } %>
<% end %>

<% if @found_pet %>
  <%= render partial: 'partials/adopt', locals: { path: "app/views/applications", method: :get } %>
<% end %>

<% if @application.application_status != "Pending" && @application.pets.present?%>
  <%= render partial: 'partials/submit', locals: { path: "app/views/applications", method: :get } %>
<% end %>