<h1><%= @application.name %></h1>

<p>Street Address: <%= @application.street_address %></p>

<p>City: <%= @application.city %></p>

<p>State: <%= @application.state %></p>

<p>Zip Code: <%= @application.zip_code %></p>

<p>Description: <%= @application.owner_description %></p>

<p id="pets">Pets: 
  <% @application.pets.each do |pet| %>
    <br><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
</p>

<p id="status">Status: <%= @application.status %></p>


<section id="pet-add">
  <% if @application.status == "In Progress" %>
  <h2>Add a Pet to this Application</h2>
    <%= form_with url: "/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
      <%= form.hidden_field :search, value: "pet" %>
      <%= form.label :pet_name, "Search for pets by name" %>
      <%= form.text_field :pet_name %>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</section>

<% if !@searched_pets.nil? && @searched_pets.any? %>
  <% @searched_pets.each do |pet| %>
    <br><%= pet.name %><%= form_with url: "/application_pet?pet_id=#{pet.id}&application_id=#{@application.id}", method: :post, data: { turbo: false } do |form| %>
      <%= form.submit "Adopt this Pet" %>
    <% end %>
  <% end %>
<% end %>

<section id="submit-application">
  <% if @application.pets.count != 0 %>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, data: { turbo: false } do |form| %>
      <br><%= form.label :pet_description, "Why would you make a good owner for these pet(s)?" %>
      <%= form.text_field :pet_description %>
      <%= form.submit "Submit Application" %>
    <% end %>
  <% end %>
</section>