<h1>Application Details</h1>
<h3>Name: <%= @application.name %></h3>
<p>Address Line 1: <%= @application.street %></p>
<p>Address Line 2: <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Status: <%= @application.status %></p>

<p>Description: <%= @application.description %></p>

<% @application.pets.each do |pet| %>
  <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>

<p>Adoption Status: <%= @application.status %></p>

<% if @application.status == "In Progress" %>
  <div id="pet_adoption">
    <h3>Add a Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
    <%= form.label :search, "Search by Name" %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
    <% end %>
    
    <div>
    <% @pet_search_results.each do |result| %>
      <p>Result: <%= result.name %></p>
      <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{result.id}", method: :post, params: { application_id: @application.id, pet_id: result.id } %>
      <% end %>
    </div>
  </div>
<% end %>

<h3> Submit Application </h3>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :description, "Description" %>
  <%= form.text_area :description, size: "70x5" %>
  <%= form.submit "Submit Application" %>
<% end %>