<h1><%= @application.name %>'s Application</h1>
<p>Address: <%= @application.full_address %></p>
<p>Description of why I would make a good home: <%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>
<h2>Pets Applied For: </h2>
<% @application.list_of_pets.each do |pet| %>
<p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
