<h1><%= @application.name %></h1>
<h3>Application status: <%= @application.status %></h3>
<p>Address: <%= "#{@application.address}, #{@application.city}, #{@application.state} #{@application.zip}" %></p>
<p>Description of why I would make a good home:</p>
<p><%= @application.description_why %></p><br/>
<h3>Pets on this application: <%=  %></h3>