<h1>Application</h1>
<ul>
    <li>Applicant's Name: <%= @applicant.name %>
    <li>Street Address: <%= @applicant.street_address %>
    <li>City: <%= @applicant.city %>
    <li>State: <%= @applicant.state %>
    <li>Zipcode: <%= @applicant.zip_code %>
    <li>Name of pet(s): 
        <% @application.pets.each do |pet| %>
            <li><%= link_to "#{@pet.name}", "pets/#{@pet.id}" %></li>
        <%end%>
    <li>Reason why you want to adopt: <%= @applicant.description %>
    <li>Status of Application: <%= @applicant.status %>
    <li>Created at: <% @applicant.created_at %></li>
    <li>Updated at: <% @applicant.updated_at %></li>
</ul>