<h1><%= @application.name %></h1>
<p>
  Address: <%= @application.address %><br />
  City: <%= @application.city %><br />
  State: <%= @application.state %><br />
  Zip Code: <%= @application.zip_code %><br />
  Description: <%= @application.description %><br />
  Application Status: <%= @application.application_status %>
</p>
<h3>Pets:</h3>
<% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
<section>
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}?pet_search=true", method: :get, data: {turbo: false}, local: true, id: "pet_search" do |form| %>
    <%= form.label :search_for_pet %>: 
    <%= form.text_field :search_for_pet, placeholder: "Name" %>
    <%= form.submit "Submit" %>
  <% end %>
  <ol>
  <% if @show_results == true %>
    <li><%= @found_pet.name %></li>
  <% end %>
  </ol>
</section>