<h1><%= @application.applicant_name %></h1>
<h3><%= @application.address %> years old</h3>
<h3><%= @application.description %></h3>
<h3><%= @application.pet_names %></h3>
<h3><%= @application.status %></h3>

<!- asdfjhhaaojskdhfklajshdfo; ->


