<%= @application.name%>
<%= @application.street_address%>
<%= @application.city%>
<%= @application.state%>
<%= @application.zip_code%>
<%= @application.description%>
<%= @application.status%>



<section class="adoptpet">

  <h1>Application Pets</h1>
  <% @application.pets.each do |pet| %>
    <%= pet.name%> 
  <% end %>

</section>

<% @application.pets.each do|pet|%>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<%end%>




<section class="pet">
  <%= form_with url: "/applications/#{@application.id}", method: :get  do |f| %>
    <div>
      <%= f.label :pet_name%>
      <%= f.text_field :pet_name %>
    </div>
    <div>
      <%= f.submit 'Search' %>


    </div>
  <% end %>
    
  <% if @pets != nil  %>  
    <% @pets.each do |pet| %>
      <%= pet.name%>

      <%= form_with(url:"/applications/#{@application.id}/pets", method: :post ) do |f| %>
        <div>
          <%= f.hidden_field :pet_id, value: pet.id %>
          <%= f.submit 'Adopt this pet' %>
        </div>
      <% end %>

    <% end %>
  <% end %>
</section>

<section class="why_I_would_make_a_good_owner">
  <section class="nopets">
 
    <% if @application.pets.present? %>
      <% if @application.status == "In Progress" %>
          <%= form_with(url: "/applications/#{@application.id}", method: :get ) do |f| %>
            <div>
              <%= f.label :why_i_would_make_a_good_owner, "why I would make a good owner for the pet(s)?" %>
              <%= f.text_field :why_i_would_make_a_good_owner %>
            </div>
            
            <%= f.submit 'Submit Application' %>
            
          <% end %>
      <% end %>
      
    <% end %>
  
  </section>
</section>