<h1>Application No:<%= @application.id %></h1>
<h3>Applicant name(s):<%=@application.name %></h3>
<li>Applicant address:<%= @application.populate_address%></li>
<li>Description of why the applicant is eligible to get pet(s):<%= @application.adopting_reason %></li>
<li>Application's status: <%=@application.status %></li><br>

<section class="pets_in_application">
	<h3>Pets that this application is for:</h3>
	<% @application.pets.each do |pet| %>
		<div id="pet-<%= pet.id %>">
			<li><%= link_to pet.name, "/pets/#{pet.id}"%></li> 
		</div>
	<% end %>
</section>

<section class="find_pet">
	<h4>Add a Pet to this Application</h4>
	<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
	<%= f.label :add_pet_name %>
  <%= f.text_field :add_pet_name %>

  <%= f.submit "Submit"%>
	<% end %>
</section>

<section class="found_pet">
	<% @pets.each do |pet|%>
	<div id="pet-<%= pet.id %>">
		<li><%= pet.name %></li>
		<%= button_to "Adopt this Pet", "/applications/#{@application.id}?pet_id=#{pet.id}", method: :post, local: true%>
	</div>
	<% end %>
</section>

<section class="submit_application">
	<h4>Submit My Application</h4>
	<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
	<%= f.label :adopting_reason %>
  <%= f.text_field :adopting_reason %>

  <%= f.submit "Submit"%>
	<% end %>
</section>