<h1> Application Show Page! </h1>

<h3>Applicant Info</h3>
<%= @application.name %>
<%= @application.street %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip %>
<%= @application.descr %>



