<h1>Applicants Name: <%= @application.name %></h1>
<p>Applicants Address: <%= @application.address %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Applicants Reasoning: <%= @application.description %></p>
<p>Applicants Status: <%= @application.status %></p>