<%= @application.name%>
<%= @application.street_address%>
<%= @application.city%>
<%= @application.state%>
<%= @application.zip_code%>
<%= @application.description%>
<%= @application.status%>


<% @application.pets.each do|pet|%>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<%end%>


<section class="pet">
  <%= form_with url: "/applications/#{@application.id}", method: :get  do |f| %>
    <div>
      <%= f.label :pet_name%>
      <%= f.text_field :pet_name %>
    </div>
    <div>
      <%= f.submit 'Search' %>


    </div>
  <% end %>
    
    <% if @pets != nil  %>  
      <% @pets.each do |pet| %>
        <%= pet.name%>
      <% end %>
    <% end %>
    
</section>