<h1><%= @application.name + "'s Application" %></h1>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
  <li><%= @application.city %></li>
  <li><%= @application.state %></li>
  <li><%= @application.zip_code %></li>
<p>Why I would make a good home: <%= @application.description %></p>
<p>Applying to Adopt: 
  <% @application_pets.each do |pet| %>
  <%= pet.name %>
  <% end %>
</p>
<p>Status: <%= @application.status %></p>
<% if @application.status == "In Progress" %>
  <section id="pet_search">
    <h3>Add a Pet to this Application</h3>

    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>
    
  <% if @pets != [] %>
    <% @pets.each do |pet|%>
      <%= pet.name %>
      <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pet_applications", params: {pet_id: pet.id}, method: :patch %>
    <% end %>
  <% end %>
      
  </section>
  <% if !@application_pets.first.nil? %>
    <section id="submit_application">
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.label :description, "Why I would make a good owner for these pet(s)" %><br>
      <%= f.text_area :description, size: "100x10" %><br>
      <%= f.submit "Submit" %>
      <% end %>
    </section>
  <% end %>
<% end %>

