<h1> Application Details <h1>

<p><strong>Applicant Name:</strong> <%= @applicant.applicant_name %></h1>
<p><strong>Address:</strong> <%= @applicant.address %>
<p><strong>City:</strong> <%= @applicant.city %>
<p><strong>State:</strong> <%=@applicant.state %> 
<p><strong>Zip code:</strong> <%=@applicant.zip_code %>
<p><strong>Description:</strong> <%= @applicant.description %>

<p><strong>Pet Names:</strong>
<% @applicant.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<p><strong>Application Status:</strong> <%= @applicant.application_status %></h3>
