<h1><%= @application.name %></h1>
<h3>Application status: <%= @application.status %></h3>
<p>Address: <%= "#{@application.address}, #{@application.city}, #{@application.state} #{@application.zip}" %></p>
<p>Description of why I would make a good home:</p>
<p><%= @application.description_why %></p><br/>

<section>
<h3>Add a Pet to this Application</h3>
<%= form_with model: @pets do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :body, size: "60x10" %>
  <%= form.submit %>
<% end %>

</section><br/><br/>

<h3>Pets on this application: <%=  %></h3>

