<h1><%= @application.name %></h1>

<p>Street Address: <%= @application.street_address %></p>

<p>City: <%= @application.city %></p>

<p>State: <%= @application.state %></p>

<p>Zip Code: <%= @application.zip_code %></p>

<p>Description: <%= @application.description %></p>

<p>Pets: 
  <% @application.pets.each do |pet| %>
    <% if @application.pets.length == 1 %> 
      <%= pet.name %>
    <% else %>
      <%= "#{pet.name}, " %>
    <% end %>
  <% end %>
</p>

<p>Status: <%= @application.status %></p>

<h2>Add a Pet to this Application</h2>

<%= form_with url: "/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
  <%= form.hidden_field :search, value: "pet" %>
  <%= form.label :pet_name, "Search for pets by name" %>
  <%= form.text_field :pet_name %>
  <%= form.submit "Submit" %>
<% end %>

<% if !@searched_pets.nil? %>
  <% @searched_pets.each do |pet| %>
    <%= pet.name %>
  <% end %>
<% end %>