 <section id="application-<%= @application.id %>">

 <p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zipcode: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
<p>Pets:</p>
<% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}"  %>
</section>
<% end %>