<h1>Applicants Name: <%= @application.name %></h1>
<p>Applicants Address: <%= @application.address %></p>
<p>Applicants Reasoning: <%= @application.description %></p>
<p> Pet Names: </p> 
<section id="mypets-<%= @application.id %>">
<% @pets.each do |pet| %> 
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
<% end %>
</section>
<p>Applicants Status: <%= @application.status %></p>

<% if @application.status == "In Progress" %>
  <h3>Add a Pet to this Application</h3>
   <%= form_with url: "/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
    <%= form.hidden_field :search, value: "pet" %>
    <%= form.label :pet_name, "Search for Pets" %>
    <%= form.text_field :pet_name %>
    <%= form.submit "Submit" %>
  <% end %>
<% end %>
<% if !@search_pets.nil? %>
  <% @search_pets.each do |pet| %>
  <%= pet.name %>
  <% end %>
<% end %>
