<h1> Application Show Page </h1>

<h2>Name: <%= @application.name  %></h2>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>

<div id="pets-<%= @application.id %>">
  <h3>Pet Applications</h3>
  <% @app_petapps.each do |petapp| %>
    <ul>
      <li>Pet Name: <%= link_to "#{petapp.pet.name}", "/pets/#{petapp.pet.id}"  %></li>
    </ul>
  <% end %>
</div>

<div id="application-<%= @application.id %>">
  <h4>Add a Pet to this Application</h4>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
    <% @pets.each do |pet| %>
      <p>Name: <%= pet.name %></p>
      <%= form_with url: "/pet_applications", method: :post, local: true do |f| %>
        <%= f.hidden_field :application_id, value: @application.id %>
        <%= f.hidden_field :pet_id, value: pet.id %>
        <%= f.submit "Adopt this Pet" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%# do we need hidden fields? update_all? %>
<% if !params[:pet_id].nil? && !params[:application_id].nil? %>
  <div id="application-submit-<%= @application.id %>">
    <h4>Why you would make a good Pet Parent?</h4>
    <%= form_with url: "/applications/#{@application.id}/", method: :patch, local: true do |f| %>
      <%= f.label "Because..." %>
      <br>
      <%= f.text_area :description, size: "50x5" %>
      <br>
      <%= f.submit "Submit Application" %>
    <% end %>
  </div>
<% end %>

