<h1>Application #: <%= @application.id %></h1>


<h3>Applicant name(s): <%= @application.name %></h3>
<li>Applicant address: <%= @application.address %></li>
<li>Description of why the applicant says they'd be a good home for this pet(s): <%= @application.adopting_reason %></li>
<li>Pets that this application is for:<br>
    <% @application.find_pets.each do |pet| %>
    <a href="pets/<%= pet.name %>">Pet Name: <%= pet.name %></a><br>
    <% end %>
    </li>
<li>Application's status: <%= @application.status %></li>