<h1>Application</h1>
<ul>
    <li>Applicant's Name: <%= @application.name %></li>
    <li>Street Address: <%= @application.street_address %></li>
    <li>City: <%= @application.city %></li>
    <li>State: <%= @application.state %></li>
    <li>Zipcode: <%= @application.zip_code %></li>
    <li>Name of pet(s): 
        <% @application.pets.each do |pet| %>
            <li><%= link_to "#{pet.name}", "/applications/#{@application.id}/pets/#{pet.id}" %></li>
        <%end%>
    </li>
    <li>Reason why you want to adopt: <%= @application.description %></li>
    <li>Status of Application: <%= @application.status %></li>
</ul>