<h1>Name: <%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Status: <%= @application.status %></h3>

<h2>Links To Pets On Application</h2>

<p><% @application.pets.each do |pet| %>
  <ul>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  </ul>
  <% end %>

<h2>Add a Pet to this Application</h2>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %> 
  <br></br>
  <%= form.submit "Submit" %>
<% end %>

<% if @result %>
  <% @result.each do |pet| %>
  <ul>
    <li><%= pet.name %><%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :patch %></li>
  </ul>
  <% end %>
<% end %>










