<h1><%= @application.name %>'s Application</h1>
<p>Address: <%= @application.full_address %></p>
<p>Description of why I would make a good home: <%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>
<h2>Pets Applied For: </h2>
<% @application.list_of_pets.each do |pet| %>
<p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>

<h2>Add a Pet to this Application</h2>
<%= form_with url: show_application_path, method: :get do |f| %>
  <%= f.label :pet_name, 'Search for Pets by name:' %>
  <%= f.text_field :pet_name %>
  <%= f.submit "Submit" %>
<% end %>

<% if params[:pet_name].present? %>
  <% @application.find_pet(params[:pet_name]).each do |pet| %>
  <ul>
    <li><%= pet.name %> <%= button_to "Adopt this pet", create_application_pets_path, method: :patch, params: {'pet_id' => pet.id, 'application_id' => params[:id]} %></li>
  </ul>
  <% end %>
<% end %>