<h1>Name: <%= @application.name %></h1>
<p><strong>Street: </strong><%= @application.street %></p>
<p><strong>City: </strong><%= @application.city %></p>
<p><strong>State: </strong><%= @application.state %></p>
<p><strong>Zip: </strong><%= @application.zip %></p>
<p><strong>Description: </strong><%= @application.description %></p>
<p><strong>Status: </strong><%= @application.status %></p>

<h3>Pets</h3>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>

<% if @application.status == "In Progress" %>
  <div id="add-pets">
    <h3>Add a Pet to this Application</h3>

<<<<<<< HEAD
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "Pet Search" %>
    <%= f.text_field :search %>
    <%= f.submit "Submit" %>
  <% end %>

  <% @search_results.each do |result| %>
    <%= result.name %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{result.id}", method: :post, params: { application_id: @application.id, pet_id: result.id } %>
  <% end %>
=======
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search, "Pet Search" %>
      <%= f.text_field :search %>
      <%= f.submit "Submit" %>
    <% end %>
>>>>>>> ad3cb39eacf4886389e38a5445a6aafd41c81e62

    <% @search_results.each do |result| %>
      <%= result.name %>
    <% end %>
  </div>
<% end %>

<% if @application.can_submit? %>
  <div id="application_submission">
    <h3>Submit Application</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <p>Please describe why you would make a good owner for these pet(s)</p>
      <%= f.text_area :description_owner, size: "60x5" %><br>
      <%= f.hidden_field :status, value: "Pending" %>
      <%= f.submit "Submit Application" %>
    <% end %>
  </div>  
<% end %>
