<h1> Application Details </h1>

<p><strong>Applicant Name:</strong> <%= @application.applicant_name %></p>
<p><strong>Address:</strong> <%= @application.address %></p>
<p><strong>City:</strong> <%= @application.city %></p>
<p><strong>State:</strong> <%= @application.state %></p>
<p><strong>Zip code:</strong> <%=@application.zip_code %>
<p><strong>Description:</strong> <%= @application.description %>

<p><strong>Pet Names:</strong>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %></p>

<p><strong>Application Status:</strong> <%= @application.application_status %><p>
