<h1>Application Show Page</h1>
<p>Name: <%= @application.name %></p>
<p>Street: <%= @application.street_addr %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Pet's Name: <%= @application.pet_names %> </p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

