<h1> Application Show Page! </h1>

<h3>Applicant Info</h3>
<p><%= @application.name %></p>
<p><%= @application.street %>,
<%= @application.city %>,
<%= @application.state %>
<%= @application.zip %></p>
<p><%= @application.descr %></p>
<h3> Application Status </h3>
<% if @application.pets.empty? %>
  <p>In Progress</p>
<% end %>
<p><% @application.pets.each do |pet| %></p>

  <p><%= pet.name %></p>
<p><% end %></p>

<section> 
  <h1>Add a Pet to this Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.hidden_field :search_pet  %>
    <%= form.label "Search for pet" %>
    <%= form.text_field :pet_name%>
    <%= form.submit "Search" %>
  <% end %>

  <% @pets.each do |pet| %>
    <p id=<%= "show-#{pet.id}" %>>
      <%= pet.name %> 
    </p>
  <% end %>


</section>




