<h1>Applicant Name: <%= @applicant.applicant_name %></h1>
<h3>Address: <%= [@applicant.address, @applicant.city, @applicant.state, @applicant.zip_code].join(', ') %></h3>
<h3>Description: <%= @applicant.description %></h3>

<h3>Pet Names:</h3>
<% @applicant.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<h3>Application Status: <%= @applicant.application_status %></h3>
