<p><u>Name</u>: <%= @application.name %></p>
<p><u>Address</u>: <%= @application.full_address %> </p>
<p><u>Why would you make a good home?</u>: <%= @application.description %> </p>
<p><u>Application to Adopt</u>:</p>
<p><u>Status</u>: <%= @application.status %> </p>

<h2><u>Add a pet to this application</u>:</h2>
<%= form_with url:"/applications/#{@application.id}", method: :get, local: :true do |f| %>
  <%= f.label "#{:search} for a pet's name:" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<%end%>

<% if @searched != nil%>
  <%="Search Results"%><br>
  <% @searched.each do |pet| %>
    <%= pet.name %>
  <% end %>
<% end %>
