<h1><%= @application.name %></h1>

<p>Street Address: <%= @application.street_address %></p>

<p>City: <%= @application.city %></p>

<p>State: <%= @application.state %></p>

<p>Zip Code: <%= @application.zip_code %></p>

<p>Description: <%= @application.description %></p>

<p>Pets: 
  <% @application.pets.each do |pet| %>
    <% if @application.pets.length == 1 %> 
      <%= pet.name %>
    <% else %>
      <%= "#{pet.name}, " %>
    <% end %>
  <% end %>
</p>

<p>Status: <%= @application.status %></p>

<h2>Add a Pet to this Application</h2>

<p>Search for pets by name</p>
<form class="example" action="/applications/:id">
  <input type="text" name="pet_name" placeholder="Search for pets by name">
  <%= submit_tag "Search" %>
</form>