<h1><%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>Description: <%= @application.description %></h3>

<h3>Requested pet(s):</h3>
<ul>
  <% @application.pet_names.each do |pet_name| %>
    <li><%= link_to pet_name, @application.pet_link(pet_name) %></li>
  <% end %>
</ul>

<% if @application.adoption_description != nil %>
  <h3>Why I'd make a good home: <%= @application.adoption_description %></h3>
<% end %>

<h3>Status: <%= @application.status %></h3>

<% if @application.status == "In Progress" %>
  <section>
    <h2 style="border-bottom: 1px solid black">Add a Pet</h2>

    <%= form_with url: "/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
      <%= form.label :pet_search, "Search for Pets by Name" %><br>
      <%= form.text_field :pet_search %>
      <%= form.submit "Search" %>
    <% end %>
    <br><br>
    <% @searched_pets.each do |pet| %>
      <h3><%= pet.name %></h3>
      <table>
        <tr>
          <td>Name:</td>
          <td><%= pet.name %></td>
        </tr>
        <tr>
          <td>Age:</td>
          <td><%= pet.age %></td>
        </tr>
        <tr>
          <td>Breed:</td>
          <td><%= pet.breed %></td>
        </tr>
        <tr>
          <td>Adoptable:</td>
          <td><%= pet.adoptable %></td>
        </tr>
        <tr>
          <td>Shelter ID:</td>
          <td><%= pet.shelter_id %></td>
        </tr>
      </table><br><br>
    <% end %>
  </section>

  <section>
    <h2 style="border-bottom: 1px solid black">Ready to Submit?</h2>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, data: { turbo: false } do |form| %>
      <%= form.label :adoption_description, "Why would you make a good owner for the selected pet(s)?" %><br>
      <%= form.text_area :adoption_description, size: "70x5" %><br>
      <%= form.submit "Submit Application" %>
    <% end %>
  </section>
<% end %>
