<h1>Name: <%= @application.name %></h1>
<p><strong>Street: </strong><%= @application.street %></p>
<p><strong>City: </strong><%= @application.city %></p>
<p><strong>State: </strong><%= @application.state %></p>
<p><strong>Zip: </strong><%= @application.zip %></p>
<p><strong>Description: </strong><%= @application.description %></p>
<p><strong>Status: </strong><%= @application.status %></p>

<h3>Pets</h3>
<% if @application.pets? %>
  <ul>
    <% @application.pets.each do |pet| %>
      <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
    <% end %>
  </ul>
<% else %>
  <p>Please add a pet to this application.</p>
<% end %>

<% if @application.status == "In Progress" %>
  <h3>Add a Pet to this Application</h3>

  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "Pet Search" %>
    <%= f.text_field :search %>
    <%= f.submit "Submit" %>
  <% end %>

  <% @search_results.each do |result| %>
    <%= result.name %>
  <% end %>

<% end %>
