<h1><%= @application.name %></h1>

<p><%= "#{@application.street} #{@application.city} #{@application.state} #{@application.zip}" %></p>
<p><%= @application.description %></p>
<p><%= @application.status %></p>

<h2>Add a Pet</h2>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if params[:search].present? %>
  <% @pets.each do |pet| %>
    <%= pet.name %><br>
  <% end %>
<% end %>

<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>