<h1><%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>Description: <%= @application.description %></h3>

<h3>Requested pet(s):</h3>
<ul>
  <% @application.pet_names.each do |pet_name| %>
    <li><%= link_to pet_name, @application.pet_link(pet_name) %></li>
  <% end %>
</ul>

<h3>Status: <%= @application.status %></h3>