<h1>Adopt Don't Shop Application</h1>
<p>Applicant Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
<br>

<h2>Pets Applying For</h2>
  <% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>

<% if @application.status == "In Progress" %>
  <%= render "search_pet" %>
<% end %>

<% if @application.pets.any? && @application.status == "In Progress" %>
  <h4>Why would you make a good pet owner?</h4>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
      <%= form.hidden_field :status, value: "Pending" %>
      <%= form.label :description, "Description" %>
      <%= form.text_field :description %>
      <%= form.submit "Submit Application" %>
    <% end %>
<% end %>