<h1> Application Details </h1>

<p><strong>Add a Pet to this Application</strong></p>
<%= form_with url: "/applications/#{@application.id}/search_pets", method: :get do |form| %>
  <%= form.label :name, "Search Pets by Name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Search" %>
<% end %>

<% if @search_results %>
  <% @search_results.each do |pet| %>
    <p>
      <%= pet.name %>
      <%= button_to 'Adopt this Pet', "/applications/#{@application.id}/adopt_pet?pet_id=#{pet.id}", method: :patch %>
    </p>
  <% end %>
<% end %>

<p><strong>Applicant Name:</strong> <%= @application.applicant_name %></p>
<p><strong>Address:</strong> <%= @application.address %></p>
<p><strong>City:</strong> <%= @application.city %></p>
<p><strong>State:</strong> <%= @application.state %></p>
<p><strong>Zip code:</strong> <%=@application.zip_code %>
<p><strong>Description:</strong> <%= @application.description %>

<p><strong>Pet Names:</strong>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %></p>

<p><strong>Application Status:</strong> <%= @application.application_status %><p>
