<h1><%= @application.name %></h1>
<p>
  Address: <%= @application.address %><br />
  City: <%= @application.city %><br />
  State: <%= @application.state %><br />
  Zip Code: <%= @application.zip_code %><br />
  Description: <%= @application.description %><br />
  Application Status: <%= @application.application_status %>
</p>
<h3>Pets:</h3>
<% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>