<h1><%= @application.applicant_name %></h1>
<h3><%= @application.street_address %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip_code %></h3>
<h3><%= @application.description %></h3>
<h3>Pets on this Application:</h3>
<% @application.pets.each do |pet| %>
    <li><%= pet.name %></li>
  <% end %>
<h3><%= @application.status %></h3>

<h2>Add a Pet to this Application</h2>
<%= form_tag show_application_path, method: :get do %>
  <%= text_field_tag 'pet_name', params[:pet_name], placeholder: 'Enter pet name' %>
  <%= submit_tag 'Search' %>
<% end %>

<h2>Matching Pets:</h2>
<% if @matching_pets == nil %>
  <p>No pets match your search criteria.</p>
<% else %>
  <% @matching_pets.each do |pet| %>
      <%= pet.name %><%= button_to 'Adopt this Pet', adopt_pet_path(@application, pet), method: :post %>
  <% end %>
<% end %>


