<p>Name of Applicant: <%= @application.name_of_applicant %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip code: <%= @application.zip_code %></p>
<p>Application Status: <%= @application.application_status %></p>
<p>Reason for Applying: <%= @application.description %></p>
Add a Pet to this Application
<% @application.pets.each do |pet| %>
  <li><%= link_to "#{pet.name}", "pets/#{pet.id}" %></li>
  <% end %>
  </ul>
<br>
  <%= form_with url: "/application_search", method: :post, local: true do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.hidden_field :application_id, :value => @application.id %>
  
  <%= form.submit "Search for pets" %>
  <% end %>

<p>Pets:</p>
<% if @pets %>

<% @pets.each do |pet| %>
  <br>
    <h3><%= pet.name %></h3>
    <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
  <% end %>

<% if @pets.name.present? %>

  <h2>Search Results:</h2>
  <ul>
    <li><%= @pets.name %></li>
  </ul>
<% end %>
<% end %>
