<h2>Name: <%= @application.name %></h2>
<p>Address: <%= @application.full_address %></p>
<p>Why would you be a good home?: <%= @application.good_home %></p>
<p>Why would I make a good owner for these pet(s)?: <%= @application.good_owner %></p>
<p>This application is for the following pets: </p>
<% @application.pets.each do |pet| %>
<p><%= pet.name %></p>
<% end %>
<p>Application Status: <%= @application.status %></p>


<% if @application.status == "In Progress" %>
  <h4>Add a Pet to this Application</h4>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% if @searched != nil %>
    <%= "Results:" %> <br>
    <% @searched.each do |pet| %>
      <%= pet.name %> 
      <%= link_to "Adopt this Pet", :adopt => "#{pet.id}" %> <br>
    <% end %>
  <% end %>

      <%= "Already on Application" if @already_adopted %>

  <% if @has_pets == true %>
    <h4><%= "Finalize Application" %></h4><br>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: :true do |f| %>
      <%= f.label "Why would you make a good owner for these pet(s)?" %><br>
      <%= f.text_field :good_owner %>
      <%= f.submit "Submit Application" %>
    <% end %>
  <% end %>

<% end %>
<%# Finalize application button %>
  



