<h1>Show Application</h1>
  <p>Applicant Name: <%= @application.applicant %></p>
  <p>Address: <%= @application.address %></p>
  <p>Why you? <%= @application.description %></p>
  <% @application.pets.each do |pet|%>
    <p>Pet Name: <%= pet.name%></p>
  <% end %>
  <p>Application Status: <%= @application.status %></p>