<h1>Applicant Information</h1>

<h3>Applicant's Name: </h3> <%= @application.name %>
<h3>Applicant's Address: </h3> <%= @address %>
<h3>Description for Adoption: </h3> <%= @application.description %>
<h3>Pets Applied for: </h3>
<% @application.pets.each do |pet| %>
<%=  pet.name %> 
<% end %> 
<h3>Application Status: </h3> <%= @application.status %>

<% if @application.status == "In Progress" %>
  <h3> Add a Pet to this Application:</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get do %>
    <%= text_field_tag 'pet_name', params[:pet_name], placeholder: 'Enter pet name' %>
    <%= submit_tag 'Search' %>
  <% end %>
<% end %> 
