<h1>Application For <%= @application.name %></h1>

<%= @application.street_address %><br>
<%= @application.city %>, 
<%= @application.state %> 
<%= @application.zipcode %><br>

<h3>Reason <%= @application.name %> would be a good home</h3>
<%= @application.reason_for_adoption %>

<h4>Application Status</h4>
<%= @application.status %>


<h4>Pets Applied For</h4>
<% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <p>Approval Status: <%= pet.application_status(@application) %></p>
<% end %>

<% if @application.status == "In Progress" %>
  <h3> Add a Pet to this Application </h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |g| %>
    <%= g.label :search %>
    <%= g.text_field :search, value: params[:search] %>
    <%= g.submit "Search" %>
  <% end %>
  <% if params[:search] != nil %>
    <h3> Search Results </h3>
    <ul>
      <% @results.each do |result| %>
        <li>
          <p>
            <%= result.name %>
            <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pet_applications", params: { application_id: @application.id, pet_id: result.id } %>
          </p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found</p>
  <% end %>
<% end %>


