<h1><%= @application.name %>'s Application</h1>
<div class="show-page-information">
  <ul>
    <li>Address: <%= @application.full_address %></li>
    <li>Application Description: <%= @application.description %></li>
    <li>Application Status: <%= @application.status %></li>
  </ul>
</div>

<div id="pets-applied-for">
  <h2>Pets Applied For: </h2>
  <% @application.pets.each do |pet| %>
  <ul>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  </ul>
  <% end %>
</div>

<div class="page-filter">
<% if @application.status == "in_progress" %>
  <div id="add-a-pet-to-application">
    <h2>Add a Pet to this Application</h2>
    <div id="search-bar">
      <%= form_with url: show_applications_path, method: :get do |f| %>
      <%= f.label :pet_name, 'Search for Pets by name:' %>
      <%= f.text_field :pet_name %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
    <div id="search-results">
      <% if params[:pet_name].present? %>
        <% @pets.each do |pet| %>
        <ul>
          <li><%= pet.name %> <%= button_to "Adopt this pet", create_application_pets_path, method: :post, params: {'pet_id' => pet.id, 'application_id' => params[:id], 'submit_app' => 'yes'} %></li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div
  <section id="submit-application">
    <h2>Submit Application</h2>
    <%= form_with url: update_applications_path, method: :patch, data: { turbo: false } do |f| %>
    <%= f.label :good_owner_comments, "Why I would make a good owner: " %>
    <%= f.text_field :good_owner_comments %>
    <%= f.submit "Submit Application" %>
    <% end %>
  </section>
<% elsif @application.status == "Pending" %>
  <div>
    <p>Why I would make a good owner: <%= @application.good_owner_comments %></p>
  </div>
<% else %>
  <div id="search-pets"">
      <h2>Add a Pet to this Application</h2>
      <%= form_with url: show_applications_path, method: :get, data: { turbo: false } do |f| %>
        <%= f.label :pet_name, "Search for Pets by name: " %>
        <%= f.text_field :pet_name %>
        <%= f.submit "Submit" %>
      <% end %> 
  </div>
<% end %>
</div>





