
<h1><%=@application.name%></h1><br>
<p> Address: </p>
<p><%= @application.address %> </p><br>
<p> Reason to be approved: </p>
<p> <%= @application.description%> </p> <br>
<p> Pet Names: </p> 
<section id="mypets-<%= @application.id %>">
<% @pets.each do |pet| %> 
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
<% end %>
</section>
<p> Application Status: <%= @application.status %> </p>

<% if @application.status == "In Progress" %>
  <p>Add a Pet to this Application</p>
  <%= form_with url:"/applications/#{@application.id}", method: :get, data: { turbo: false } do |form| %>
    <%= form.label :search, "Search Pet by name:" %><br>
    <%= form.text_field :search %>
    <%= form.submit "Submit" %>
  <% end %><br>
<% end %>

<% if @searched_pets != nil %>
<section id="searched-<%= @application.id %>">
  <% @searched_pets.each do |pet| %>
    <div style="background-color: lightblue; border-style: solid; border-radius: 8px; padding: 10px; margin: 10px;">
      <p style="font-size: 18px; font-weight: bold; margin-top: 0; float:left">Name: <%= pet.name %>&emsp;<%= button_to "Adopt this Pet", "/applications/#{@application.id}?pet=#{pet.id}", method: :post, data: { turbo: false } %></p>
      <div style="clear:both;"></div>
      <p style="font-size: 16px;">Breed: <%= pet.breed %></p>
      <p style="font-size: 16px;">Age: <%= pet.age %></p>
    </div>
  <% end %>
</section>
<% end %>
<%= form_with url:"/applications/#{@application.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :good_owner_reason, "Why I would make a good owner for these pets:" %> <br>
  <%= form.text_area :good_owner_reason, :cols => 36, :rows => 3 %>
  <div style="clear:both;"></div>
  <%= form.submit "Submit this Application" %>
<% end %>

