<h1><%= @app.name %></h1>
<li> Status:   <%= "#{@app.status}"%></li>
<li> Street:   <%= "#{@app.address}"%></li>
<li> City:     <%= "#{@app.city}"%></li>
<li> State:    <%= "#{@app.state}"%></li>
<li> Zip Code: <%= "#{@app.zipcode}"%></li>
<li> Description: <%= "#{@app.description}"%></li>

