<h1><%= @application.name %>'s Application</h1>
<div class="show-page-information">
  <ul>
    <li>Address: <%= @application.full_address %></li>
    <li>Application Description: <%= @application.description %></li>
    <li>Application Status: <%= @application.status %></li>
  </ul>
</div>

<div class="page-filter">
  <% if @application.status == "in_progress" && @application.added_pets? %>
    <%= render "pets_applied_for" %>
    <%= render "add_a_pet" %>
    <%= render "submit_application" %>
  <% elsif @application.status == "in_progress" %>
    <%= render "add_a_pet" %>
  <% elsif @application.status == "pending" %>
    <%= render "pets_applied_for" %>
    <p>Why <%= @application.name %> would make a good owner: <%= @application.good_owner_comments %></p>
  <% else %>
    <%= render "pets_applied_for" %>
  <% end %>
</div>





