<h1>All pets</h1>

<%= link_to "Start an Application", "/applications/new" %>

<%= form_with url: "/pets", method: :get, data: { turbo: false } do |f| %>
  <%= f.label :searc, "Search Pets" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>


<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <ul>
    <li>Age: <%= pet.age %></li>
    <li>Breed: <%= pet.breed %></li>
    <li>Adoptable: <%= pet.adoptable %></li>
    <li>You can find <%= pet.name %> at <%= pet.shelter_name %>!</li>
  </ul>
  <%= button_to "Edit #{pet.name}", edit_pets_path(pet), method: :get %>
  <%= button_to "Delete #{pet.name}", delete_pets_path(pet), method: :delete %>
<% end %>
