<h3><%= @pet.name %></h3>
<p>Pet Age: <%= @pet.age %> years old</p>
<p>Pet Breed: <%= @pet.breed %></p>
<p><%= "Status: Adoptable" if @pet.adoptable%> <%= "Status: Not Adoptable" if !@pet.adoptable%></p>
<p>Shelter Pet Belongs To: <%= @pet.shelter_name %></p>

<p><%= link_to "Update #{@pet.name}", "/pets/#{@pet.id}/edit", method: :get %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
