<h1><%=@app.name%>'s Application (admin view)</h1>
<p><u>Address</u>: <%=@app.address%>, <%=@app.city%>, <%=@app.zip%></p>
<p><u>Description</u>: <%=@app.description%></p>
<p><u>Status</u>: <%=@app.status%></p>


<% @app.pets.each do |pet| %>
  <p><u>Pets on this application</u>: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> 
  <%if @app.status == "Accepted" %>
    <p>your application for <%=pet.name %> has been Approved!</p>
  <%elsif @app.status == "Rejected"%>
    <p>your application for <%=pet.name %> has been Rejected!</p>
  <% else @app.status == "Pending" %>
    <%= button_to "approve application to adopt #{pet.name}", "/admin/apps/#{@app.id}?approved=true", method: :patch%></p>
    <%= button_to "reject application to adopt #{pet.name}", "/admin/apps/#{@app.id}?rejected=true", method: :patch%></p>
  <% end %>
<% end %>





