<h1><%= @applicant.name %></h1>
<% @pets.each do |pet| %>
  <h3><%= pet.name %>:
  <% if pet.status == "Pending" %>
    <%= render partial: 'button', locals: 
      {
        url: "/admin/pets_applications/#{@application.id}?status=Accepted&pet_id=#{pet.id}&applicant_id=#{@applicant.id}",
        method: :patch,
        button_text: "Approve"
      } %>
    <%= render partial: 'button', locals: 
      {
        url: "/admin/pets_applications/#{@application.id}?status=Rejected&pet_id=#{pet.id}&applicant_id=#{@applicant.id}",
        method: :patch,
        button_text: "Reject"
      } %>
  <% else %>
    <%= pet.status %></h3>
  <% end %>
<% end %>
<h1>Application Status: <%= @status %></h1>