<h1><%= @application.name %></h1>

<p>Street Address: <%= @application.street_address %></p>

<p>City: <%= @application.city %></p>

<p>State: <%= @application.state %></p>

<p>Zip Code: <%= @application.zip_code %></p>

<p>Description: <%= @application.owner_description %></p>

<p id="pets">Pets: 
  <% @application.pets.each do |pet| %>
      <br><%= pet.name %>
      <% if pet.find_app_relationship(@application.id).status.nil? %>
        <%= render partial: 'button', locals: {
                                                url: "/admin/applications/#{@application.id}?pet_id=#{pet.id}&application_id=#{@application.id}&status=approved",
                                                method: :patch,
                                                button_text: "Approve #{pet.name}"
        } %>
        <%= render partial: 'button', locals: {
                                                url: "/admin/applications/#{@application.id}?pet_id=#{pet.id}&application_id=#{@application.id}&status=rejected",
                                                method: :patch,
                                                button_text: "Reject #{pet.name}"
        } %>
        <% elsif pet.find_app_relationship(@application.id).status == "Approved" %>
            <%= "#{pet.name} has been approved" %>
        <% elsif pet.find_app_relationship(@application.id).status == "Rejected" %>
            <%= "#{pet.name} has been rejected" %>
    <% end %>
  <% end %>
</p>

<p id="status">Status: <%= @application.status %></p>