<h1>New Applicant</h1>
<%= form_with(model: @applicant, url: create_applicant_path, local: true) do |f| %>
  <%= f.fields_for :applicant do |applicant_fields| %>
    <div>
      <%= applicant_fields.label :name %>
      <%= applicant_fields.text_field :name %>
    </div>
    <div>
      <%= applicant_fields.label :street_address %>
      <%= applicant_fields.text_field :street_address %>
    </div>
    <div>
      <%= applicant_fields.label :city %>
      <%= applicant_fields.text_field :city %>
    </div>
    <div>
      <%= applicant_fields.label :state %>
      <%= applicant_fields.text_field :state %>
    </div>
    <div>
      <%= applicant_fields.label :zip_code %>
      <%= applicant_fields.number_field :zip_code %>
    </div>
    <div>
      <%= applicant_fields.label :description %>
      <%= applicant_fields.text_area :description %>
    </div>
  <% end %>
  <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
