<h1>Apply For Your New Family Member Here!</h1>

<%= form_with url: "/applicants", method: :post, data: { turbo: false } do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :street_address %>
  <%= form.text_field :street_address %></p>
  <p><%= form.label :city %>
  <%= form.text_field :city %></p>
  <p><%= form.label :state %>
  <%= form.text_field :state %></p>
  <p><%= form.label :zipcode %>
  <%= form.text_field :zipcode %></p>
  <p><%= form.label :description %>
  <%= form.text_area :description %></p>
  <p><%= form.submit 'Apply for Pet' %></p>
<% end %>

