<h2>New Applicant</h2>
<%= form_with url: "/applicants", method: :post, data: { turbo: false } do |form| %>
  <div>
  <%= form.label :name %>
  <%= form.text_field :name %>
  </div>
  <div> 
  <%= form.label :street_address %>
  <%= form.text_field :street_address %>
  </div>
  <div>
  <%= form.label :city %>
  <%= form.text_field :city %>
  </div>
  <div>
  <%= form.label :state %>
  <%= form.text_field :state %>
  </div>
  <div>
  <%= form.label :zip_code %>
  <%= form.text_field :zip_code %>
  </div>
  <%= form.submit "Submit Application" %>
<% end %>