<h1><%= @applicant.name %></h1>
<h3><%= @applicant.street_address %> years old</h3>
<h3><%= @applicant.city %></h3>
<h3><%= @applicant.state %></h3>
<h3><%= @applicant.zip_code %></h3>
<h3><%= @applicant.description %></h3>

<h4>In Progress</h4>


