<h1><%= @applicant.name %></h1>
<p><%= @applicant.street_address %></p>
<p><%= @applicant.city %></p>
<p><%= @applicant.state %></p>
<p><%= @applicant.zip_code %></p>
<p><%= @applicant.description %></p>
<p><%= @applicant.application_status %></p>