<h1>Name of Applicant: <%= @applicant.name %></h1>
<p>Full Address: <%= "#{@applicant.street_address}" %></p>
<p><%= "#{@applicant.city}, #{@applicant.state} #{@applicant.zipcode}" %></p> 
<p>Description: <%= @applicant.description %></p>

<h2>Pets of Interest:</h2>
<ul>
  <% @applicant.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
  
</ul>

<p><strong>Applicant Status:</strong> <%= @applicant.status %></p>

<h3>Add A Pet To This Appplication</h3>

<div class="search_pet"> 
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, data: { turbo: false } do |form| %>
    <%= form.label :name, "Search A Pet" %>
    <%= form.text_field :name %>
    <%= form.submit "Search" %>
    <% if @search %><br/>
    <br/>
      <% @results.each do |result| %>
        <%= result.name %>
        <% if @results.any? %>
            <% @results.each do |result| %>
                <% result.name %>
                <%= form_with url: "/applicants/#{@applicant.id}", method: :post do |form| %>
                 <%= form.submit "Adopt this Pet" %>
                <% end %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
    
  <% end %>
</div>
  

