<%= @applicant.name %>
<%= @applicant.street_address%>
<%= @applicant.city%>
<%= @applicant.state%>
<%= @applicant.zip_code%>
<%= @applicant.description %>
<%= @applicant.status %>
<%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |form| %>
    <br>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
<% end %>
<% @pet_search.each do |pet| %>
    <p><%= pet.name %></p>
<% end %>
<% @pets.each do |pet| %>
    <a href="/pets/<%= "#{pet.id}"%>"> <%= pet.name %> </a>
<% end %>