<%= @applicant.name %>
<%= @applicant.street_address%>
<%= @applicant.city%>
<%= @applicant.state%>
<%= @applicant.zip_code%>
<%= @applicant.description %>
<%= @applicant.status %>
<% @pets.each do |pet| %>
    <a href="/pets/<%= "#{pet.id}"%>"> <%= pet.name %> </a>
<% end %>