<h1><%= @applicant.name %></h1>
<p>Street Address: <%= @applicant.street_address %></p>
<p>City: <%= @applicant.city %></p>
<p>State: <%= @applicant.state %></p>
<p>Zip Code: <%= @applicant.zip_code %></p>
<p>Description: <%= @applicant.description %></p>
<p>Status: <%= @applicant.status %></p>
<br>
<% if @applicant.pets.present? %>
  <h3>Pets Assigned to this Application</h3>
  <ul>
    <% @applicant.pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>
<% end %>
<div class="search">
  <%= form_with(url: applicant_path(@applicant), local: true, method: :get, id: 'search-pet-form') do |f| %>
    <h3>Add a Pet to this Application</h3>
    <p>Pet: <%= f.label :pet_name %></p>
    <p><%= f.text_field :pet_name %></p>
    <p><%= f.submit "Search for Pet" %></p>
  <% end %>
  <% if params[:pet_name].present? %>
    <% if @matching_pets.present? %>
      <h3 id="matching-pets-heading">Matching Pets</h3>
      <ul id="matching-pets-list">
        <% @matching_pets.each do |pet| %>
          <li>
            <span class="pet-name"><%= pet.name %></span>
            <% if pet.adoptable? && @applicant.status == "In Progress" %>
              <%= button_to 'Add Pet', create_applicant_pet_path(applicant_id: @applicant.id, pet_id: pet.id), method: :post %>
            <% else %>
              <%= pet.name %> - Not available for adoption
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No pets found.</p>
    <% end %>
  <% end %>
</div>
