<h1>Name of Applicant: <%= @applicant.name %></h1>
<p>Full Adress: <%= "#{@applicant.street_address}" %></p>
<p><%= "#{@applicant.city}, #{@applicant.state} #{@applicant.zipcode}" %></p> 
<p>Description: <%= @applicant.description %></p>

<h2>Pets of Interest:</h2>
  <ul>
    <% @pets.each do |pet| %>
      <li><a <a href="/pets/#{pet.id}"><%= pet.name %></a></li>
      <% end %>
  </ul>
  
  
  # <%= link_to pet, pet_path(pet) %>