<h1> Applicant Information </h1>
  
  <p><%=  @applicant.name %> </p>
  <p>Full Address: <%= @applicant.street_address %> <%= @applicant.city %> <%= @applicant.state %> <%= @applicant.zip_code %> </p>
  <p> Reason: <%= @applicant.qualification %> </p>
  <p> App Status: <%= @applicant.application_status %> </p>
  <%= form_with URL: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
  
    <%= f.label :search, "Add a Pet to this Application" %>
    <%= f.text_field :search %><br>
    <%= f.submit "Search" %>
    <% end %>
  <br>
  <% if params[:search].present? %>
  <% @pet_find.each do |pet| %>
    <%= pet.name %>
    <% end %>
  <% end %>
  <br>
  <% @applicant.pets.each do |pet| %>
  <p> Pet Name(s): <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p>
<% end %>