<%= render partial: 'shared/applicant_info', locals: { applicant: @applicant } %>
<% if @applicant.pets.present? %>
  <h3>Pets Assigned to this Application</h3>
  <ul>
    <% @applicant.pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>
<% end %>
<!-- Renders _search_form_index.html.erb partial -->
<%= render partial: 'search_form', locals: { applicant: @applicant } %>
<% if params[:pet_name].present? %>
  <% if @matching_pets.present? %>
    <h3 id="matching-pets-heading">Matching Pets</h3>
    <ul id="matching-pets-list">
      <% @matching_pets.each do |pet| %>
        <li>
          <span class="pet-name"><%= pet.name %></span>
          <% if pet.adoptable? && @applicant.status == "In Progress" %>
            <%= button_to 'Add Pet', create_applicant_pet_path(applicant_id: @applicant.id, pet_id: pet.id), method: :post %>
          <% else %>
            <%= pet.name %> - Not available for adoption
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No pets found.</p>
  <% end %>
<% end %>
