<h1>Name of Applicant: <%= @applicant.name %></h1>
<p>Full Address: <%= "#{@applicant.street_address}" %></p>
<p><%= "#{@applicant.city}, #{@applicant.state} #{@applicant.zipcode}" %></p> 
<p>Description: <%= @applicant.description %></p>

<h2>Pets of Interest:</h2>
<ul>
  <% @applicant.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>

<p><strong>Applicant Status:</strong> <%= @applicant.status %></p>

<h3>Add A Pet To This Appplication</h3>

<div class="search_pet"> 
<%= form_with url: "/applicants/#{:id}", method: :get, data: { turbo: false } do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <%= form.submit 'Search' %>
<% end %>
  <% if @pets != nil %>
   <% @pets.each do |pet| %>
    <div class="add_pet">
      <form_with url:"/pet_applicants/", method: :post, data: { turbo: false } do |form| %>
        <%= pet.name %>
        <%= form.hidden_field :pet_id, value: pet.id %>
        <%= form.hidden_field :applicant_id, value: @applicant.id %>
       <%= form.submit "Apply For This Pet" %>
      <% end %>
    </div>
   <% end %>
</div>
  

