<h1> Applicant Information </h1>
  
  <p><%=  @applicant.name %> </p>
  <p>Full Address: <%= @applicant.street_address %> <%= @applicant.city %> <%= @applicant.state %> <%= @applicant.zip_code %> </p>
  <p> Reason: <%= @applicant.qualification %> </p>
  <p> App Status: <%= @applicant.application_status %> </p>
<% @applicant.pets.each do |pet| %>
  <p> Pet Name(s): <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p> <br>
<% end %>

<%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "Add a Pet to this Application" %>
    <%= f.text_field :search %><br>
    <%= f.submit "Search" %>
<% end %>
<% if @pet_find %>
  <% @pet_find.each do |pet| %>
  <%= pet.name %> 
    <%= form_with url: "/applicantpets", method: :post, local: true do |f| %>
        <%= f.hidden_field :applicant_id, value: @applicant.id %>
        <%= f.hidden_field :pet_id, value: pet.id %>
        <%= f.submit "Adopt this Pet"%>
    <% end %>
  <% end %>
<% end %>

  

