<h1>Applicant #<%= @applicant.id %></h1>

<section id="application_info">
<%= @applicant.name %>
<%= @applicant.street_address %>
<%= @applicant.status %>
</section>

<section id="pending_pets">
<% @applicant.pets.each do |pet| %>
    <section id="pending_pet_<%=pet.id%>">
    <%= pet.name %>
    <%= form_with url: "admin/applicants/#{@applicant.id}", method: :patch, local: true do |form| %>
        <%= form.hidden_field :accepted %>
        <%= form.submit "Accept" %>
        <%= form.hidden_field :rejected %>
        <%= form.submit "Reject" %>
    <% end %>
    </section>
<% end %>
</section>