<h1> <%= @application.name %>'s Application</h1>

<h4>Name: <%= @application.name %></h4>
<h4>Street Address: <%= @application.street_address  %></h4>
<h4>City: <%= @application.city  %></h4>
<h4>State: <%= @application.state  %></h4>
<h4>Zip Code: <%= @application.zip_code %></h4>
<h4>Description: <%= @application.description %></h4>
<h4>Status: <%= @application.status %></h4>

