<%# locals: () -%>

<div id="list-of-pet-applications">
  <% @application.application_pets.each do |pet_application| %>
    <div id="pet-<%= pet_application.pet.id %>">
      <h3>Application ID: <%= pet_application.id %></h3>
      <p>Pet Name: <%= pet_application.pet.name %></p>
      <% if !pet_application.application_reviewed && pet_application.pet_adopted? %>
        <p>This pet has already been approved for another adoption</p>
        <%= render partial: "approve_or_reject", locals: {
                                                          pet_application_id: pet_application.id,
                                                          app_id: @application.id,
                                                          app_approved: false,
                                                          button: "Reject Pet Application"
        }%>  <br>
      <% elsif !pet_application.application_reviewed %>
        <%= render partial: "approve_or_reject", locals: {
                                                          pet_application_id: pet_application.id,
                                                          app_id: @application.id,
                                                          app_approved: true,
                                                          button: "Approve Pet Application"
        }%>  <br>
          <%= render partial: "approve_or_reject", locals: {
                                                            pet_application_id: pet_application.id,
                                                            app_id: @application.id,
                                                            app_approved: false,
                                                            button: "Reject Pet Application"
        }%> <br>
      <% elsif !pet_application.application_approved? %>
        <p>Pet Rejected</p>
      <% else %>
        <p>Pet Approved</p>
      <% end %>
    </div>
  <% end %>
</div>
