<div id="list-of-pet-applications">
  <% @application.application_pets.each do |pet_application| %>
    <div id="pet-<%= pet_application.pet.id %>">
      <h3>Application ID: <%= pet_application.id %></h3>
      <p>Pet Name: <%= pet_application.pet.name %></p>
      <% if !pet_application.application_reviewed %>
        <%= form_with url: update_application_pets_path(pet_application.id), method: :patch do |f| %>
        <%= hidden_field_tag :application_approved, true %>
        <%= hidden_field_tag :application_reviewed, true %>
        <%= hidden_field_tag :application_id, @application.id %>
        <%= f.submit "Approve Pet Application" %>
        <% end %><br>
        <%= form_with url: update_application_pets_path(pet_application.id), method: :patch do |f| %>
        <%= hidden_field_tag :application_reviewed, true %>
        <%= hidden_field_tag :application_approved, false %>
        <%= hidden_field_tag :application_id, @application.id %>
        <%= f.submit "Reject Pet Application" %>
        <% end %><br>
      <% elsif pet_application.application_approved? %>
        <p>Pet Approved</p>
      <% else %>
        <p>Pet Rejected</p>
      <% end %>
    </div>
  <% end %>
</div>
