<% @apps.each do |app| %>
  <div id="app-status-<%= app.id %>">
  <% if app.pet_apps.first.pet_status == "Pending" %>
      <h3>Pet: <%= app.name %></h3>
      <%= button_to "approve", "/pet_apps/#{app.pet_apps.first.id}?approve=true", method: :patch %>
      <%= button_to "reject", "/pet_apps/#{app.pet_apps.first.id}?reject=true", method: :patch %>
    <% else %>
       <p> Status: <%= app.pet_apps.first.pet_status %></p>
    <% end %>
  </div>
<% end %>
