<h1> Admin Applications</h1> 
<br>

<h2>Name of Applicant: <%= @application.name %></h2>

<section id="applicant-info">
<p>
  Applicant Address:
  <%= @application.street_address %>,
  <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %>
</p>
<p>Description of why the applicant says they'd be a good home for this pet(s): <%= @application.description %></p>
</section>

<br>

<section id="pets-for-adoption">
<h2>Pets for Adoption:</h2>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li> 
  <% end %>
</ul>
</section>

<h2>Pets Applied for</h2>
<ul>
  <% @application.pets.each do |pet| %>
 <br><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% if pet.application_pet(@application.id).status.nil? %>
        <%= render partial: 'button', locals: {
                                      url: "/admin/application_pets/#{@application.id}?pet_id=#{pet.id}&application_id=#{@application.id}&status=approved",
                                      method: :patch,
                                      button_text: "Approve #{pet.name}"
        } %>
        <%= render partial: 'button', locals: {
                                      url: "/admin/application_pets/#{@application.id}?pet_id=#{pet.id}&application_id=#{@application.id}&status=rejected",
                                      method: :patch,
                                      button_text: "Reject #{pet.name}"
        } %>
        <% elsif pet.application_pet(@application.id).status == "Approved" %>
            <%= "#{pet.name} has been approved" %>
        <% elsif pet.application_pet(@application.id).status == "Rejected" %>
            <%= "#{pet.name} has been rejected" %>
    <% end %>
  <% end %>
</ul>

<section id="app-status">
<h2> Application's status: <%= @application.status %></h2>
</section>
<br>