<br><h2>Admin View for Application <%= @application.id %></h2>
<p> <b>Applicant Name: </b><%= @application.name  %></p> 
<p> <b>Address: </b> <%= @application.address_join %></p>
<p> <b>Description of Qualification: </b><%= @application.description %></p> 
<br>
<h3>All Pets Applied For:</h3>
<% @application.application_pets.each do |app_p| %>
    <h3><%= app_p.pet.name %></h3><h4><%= "** Approved!**" if app_p.approved(@application.id) %></h4>
    <p> <%= "Status: Adoptable" if app_p.pet.adoptable%> <%= "Status: Not Adoptable" if !app_p.pet.adoptable && !app_p.approved(@application.id)%></p> 
    <%= button_to "Approve #{app_p.pet.name}", {controller: "application_pets", action: "update", application_id: @application.id, pet_id: app_p.pet.id}, method: :patch if app_p.pet.adoptable%>
<% end %>