<h1> Admin Applications</h1> 
<br>

<h2>Name of Applicant: <%= @application.name %></h2>

<section id="applicant-info">
<p>
  Applicant Address:
  <%= @application.street_address %>,
  <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %>
</p>
<p>Description of why the applicant says they'd be a good home for this pet(s): <%= @application.description %></p>
</section>

<br>

<section id="pets-applied-for">
<h2>Pets Applied for:</h2>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li> 
  <% end %>
</ul>
</section>

<section id="app-status">
<p> Application's status: <%= @application.status %></p>
</section>
<br>

<h2>Pets for Adoption</h2>
<ul>
  <% @application.pets.each do |pet| %>
    <li>
      <%= pet.name %>
      <% if @approved_pets.include?(pet) %>
        <span class="approved-indicator">Approved</span>
      <% else %>
        <%= link_to "Approve", approve_pet_admin_application_path(id: @application.id, pet_id: pet.id), method: :post, data: { confirm: "Are you sure you want to approve this pet?" } %>
      <% end %>
    </li>
  <% end %>
</ul>