<h1>Admin Applications</h1> 
<% @application.pets.each do |pet| %>
  <%= form_with url: "/pet_applications/#{@application.get_pet_app(pet.id).id}?app_id=#{@application.id}&pet_id=#{pet.id}", method: :patch, local: true do |f|  %>
    <div id=<%= "approve-#{pet.id}" %>>
      <%= f.label :pet_name, "#{pet.name}" %>
      <% if @application.get_pet_app(pet.id).status == "Pending" %>
        <%= f.submit "Approve" %>
        <%= f.submit "Reject" %>
      <% else %>
        <%= f.label @application.get_pet_app(pet.id).status %>
      <% end %>
    </div>
  <% end %>
<% end %>