<style>
.buttons {
  display: flex;
}
.margin {
  margin-right: 8px;
}
</style>

<%= render partial: 'application/header', layout: 'header' %>
<%= render partial: 'application/body', layout: 'body' %>

<div class="myDiv" >
<h1>Name on Application: <%= @application.name %></h1>
</div>
<div class="body" >
<p><u>Address</u>: <%= @application.full_address %> </p>
<p><u>Why would you make a good home?</u>: <%= @application.description %> </p>
<p><u>Status</u>: <%= @application.status %> </p>

<p><u>Pets I'd Like to Adopt</u>:</p>
<% @pets.each do |pet| %>
<div class= "buttons">
  <% if pet.application_pet_status == "Pending" && pet.adoptable == true %>
    <%= form_with url:"/application_pets/#{@application.id}", method: :patch, local: :true do |f| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> 
      <%= hidden_field_tag :pet_id, "#{pet.id}" %>
      <%= hidden_field_tag :approved?, "Yes" %>
      <%= f.submit "Approve #{pet.name}", class: "margin" %>
    <%end%>
    <%= form_with url:"/application_pets/#{@application.id}", method: :patch, local: :true do |f| %>
      <%= hidden_field_tag :pet_id, "#{pet.id}" %>
      <%= hidden_field_tag :approved?, "No" %>
      <%= f.submit "Reject #{pet.name}" %>
    <%end%>
</div>
  <% elsif pet.application_pet_status == "Accepted" && pet.adoptable == false %>
    <p>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> 
      This Adoption has been Approved.
    </p>
  <% elsif pet.application_pet_status == "Rejected" && pet.adoptable == true %>
    <p>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> 
      This Adoption has been Rejected.
    </p>
  <% elsif pet.application_pet_status == "Rejected" && pet.adoptable == false %>
    <p>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> 
      <%= form_with url:"/application_pets/#{@application.id}", method: :patch, local: :true do |f| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> 
      <%= hidden_field_tag :pet_id, "#{pet.id}" %>
      <%= hidden_field_tag :approved?, "Yes" %>
      <%= f.submit "Approve #{pet.name}", class: "margin" %>
    <%end%>
    <%= form_with url:"/application_pets/#{@application.id}", method: :patch, local: :true do |f| %>
      <%= hidden_field_tag :pet_id, "#{pet.id}" %>
      <%= hidden_field_tag :approved?, "No" %>
      <%= f.submit "Reject #{pet.name}" %>
    <%end%>
    </p>
  <%end%>
<%end%>
</div>
