<h1>Admin Applications View</h1>

  <p><b>Applicant's Name:</b> <%= @application.name %></p>
  <p><b>Applicant's Address:</b> <%= @application.address %></p>
  <p><b>Description:</b> <%= @application.description %></p>
  <p><b>Application Status:</b> <%= @application.status %></p>

<table id="table">
<tr>
  <th>Pet Name</th>
  <th>Application Approval</th>
</tr>
<% @application.pet_applications.each do |pet_app|  %>
  <tr id="pet_app-<%= pet_app.id %>">
    <td><%= pet_app.pet.name %></td>
    <td>
      <% if pet_app.pet.adoptable != false && pet_app.adoption_approved == nil %>
          <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, data: { turbo: false } do |f| %>
          <div id="pet_app-<%= pet_app.id %>"> 
          <td><%= f.submit "Approve" %></td></div>
          <% end %>
        <% end %>
  <% end %>
  </tr>
</table>
<h2> Status: <%= @application.status %></h2>