<%= render partial: "layouts/applicant" %>

  <h3>Pets Applied For:</h3>
  <% @application.pets.each do |pet| %>
<section id="pet_applied_for-<%= pet.id %>">
  <h3><%= pet.name %></h3>
    <% if @application.pet_app_status(pet) == "Pending" %>
      <%= button_to "Approve Application", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch, params: { status: "Approved"} %>

      <%= button_to "Reject Application", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch, params: { status: "Rejected"} %>
    <% end %>

    <% if @application.pet_app_status(pet) == "Approved" || "Rejected" %>
      <p>Pet Status: <%= @application.pet_app_status(pet)%></p>
    <% end %>
</section>
  <% end %>