<h1>Applicant Information</h1>
<h3><%= @application.name %></h3>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip %></p>
<p>Applicant Description: <%= @application.description %></p>
<p>Reason for Adoption: <%= @application.reason %></p>
<p>Status of All Pet Applications: <%= @application.status %>

<section id="pets-on-application">
  <h2>Pets Applied for:</h2>
    <% @pets.each do |pet| %>
    <% application_pet = ApplicationPet.find_application_pet(pet.id, @application.id) %>
    <% if application_pet == "Pending" %>
      <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
        <p><%= pet.name %>
        <%= form.hidden_field(:pet_id, value: pet.id) %>
        <%= form.hidden_field(:application_id, value: @application.id) %>
        <%= form.hidden_field(:status, value: "Approved") %>
        <%= form.submit  "Approve #{pet.name} for Adoption"%></p>
      <% end %>
    <% elsif pet.status_of_applicationpet(@application) == "Rejected" %>
    <% elsif pet.status_of_applicationpet(@application) == "Accepted" %>
    <% else %>
      <p>We not ready for that buckwild flow</p>
    <% end %>
    <% end %><br>

</section>