<%= render partial: "layouts/application_render" %>

<h4>Pets Applied For</h4>
<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
    <% if @application.find_pet_application_status(pet.id) == "Approved" %>
      <p>Application Approved</p>
    <% elsif @application.find_pet_application_status(pet.id) == "Rejected" %>
      <p>Application Rejected</p>
    <% elsif @application.find_pet_application_status(pet.id) == "Pending" %>
      <%= button_to "Approve Application", "/admin/applications/#{@application.id}?pet_id=#{pet.id}&button=approve", method: :patch %><br>
      <%= button_to "Reject Application", "/admin/applications/#{@application.id}?pet_id=#{pet.id}&button=reject", method: :patch %>
    <% end %>
  </div>
<% end %>

