<%= render partial: 'partials/application' %>
<h3>Pets:</h3>
<% @application.application_pets.each do |application_pet| %>
  <% pet = application_pet.pet %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% if application_pet.approved == "approved" %>
    - Pet Approved
  <% elsif application_pet.approved == "rejected"%>
    - Pet Rejected
  <% elsif application_pet.approved == "pending" %>
    <%= button_to "Approve application", { controller: "/admin/applications", action: :update, pet_id: pet.id, confirm: "approve" }, method: :patch %>
    <%= button_to "Reject application", { controller: "/admin/applications", action: :update, pet_id: pet.id, confirm: "reject" }, method: :patch %>
  <% end %>
  <br />
<% end %>


<% if @application.application_status != "Pending" %>
  <%= render partial: 'partials/search', locals: { path: "app/views/admin/applications", method: :get } %>
<% end %>

<% if @found_pet %>
  <%= render partial: 'partials/adopt', locals: { path: "app/views/admin/applications", method: :get } %>
<% end %>

<% if @application.application_status != "Pending" && @application.pets.present?%>
  <%= render partial: 'partials/submit', locals: { path: "app/views/admin/applications", method: :get } %>
<% end %>