<h1>Admin Applications View</h1>

  <p><b>Applicant's Name:</b> <%= @application.name %></p>
  <p><b>Applicant's Address:</b> <%= @application.address %></p>
  <p><b>Description:</b> <%= @application.description %></p>
  <p><b>Application Status:</b> <%= @application.status %></p>



<h2>Application Approval</h2>


<% @application.pet_applications.each do |pet_app|  %>
  <tr>
    <td><p>Pet Name: <%= pet_app.pet.name %></td>
    <td>  
      <% if pet_app.pet.adoptable != false && pet_app.adoption_approved == nil %>
          <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, data: { turbo: false } do |f| %>
          <%= f.hidden_field :pet_id, :value => pet_app.pet.id %>
          <%= f.hidden_field :app_id, :value => pet_app.application_id %>
          <%= f.submit "Approve" %>
          <% end %>
        <% end %>
    </td>
    <td>
        <% if pet_app.adoption_approved == nil %>
          <%= form_with url: "/admin/applications/#{@application.id}", method: :patch, data: { turbo: false } do |f| %>
          <%= f.hidden_field :pet_id, :value => pet_app.pet.id %>
          <%= f.hidden_field :application_id, :value => pet_app.application_id %>
          <%= f.submit "Reject" %></p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if pet_app.adoption_approved == true || pet_app.pet.adoptable == false %>
        <%= "Approved" %>
      <% elsif pet_app.adoption_approved == false %>
        <%= "Rejected" %>
      <% elsif pet_app.adoption_approved == nil %>
        <%= "Awaiting Approval" %>
      <% end %>
    </td>
</tr>
  <% end %>

<h2> Status: <%= @application.status %></h2>