<h1>Admin Application Show Page</h1>

<section>
  <% @application.pets.each do |pet| %>
    <div id=<%= "approve-#{pet.id}" %>>
      <% if pet.app_status(@application) && pet.app_status(@application) == "Pending" %>
        <%= form_with url: "/admin/applications/#{@application.id}", data: {turbo: false}, method: :patch, local: true do |f| %>
          <%= f.hidden_field :pet_id, value: pet.id %>
          <%= f.hidden_field :app_id, value: @application.id %>
          <%= f.label "#{pet.name}" %>
          <%= f.submit "Approve" %>
        <% end %>
      <% else %>
        <%= "#{pet.name}: #{pet.app_status(@application)}" %>
      <% end %>
    </div>
  <% end %>
</section>