

<%= @application.name%>
<%= @application.street_address%>
<%= @application.city%>
<%= @application.state%>
<%= @application.zip_code%>
<%= @application.description%>
<%= @application.status%>


<% @application.application_pets.each do |app_pet| %>
<section id="Pet-<%= app_pet.pet_id %>">
<%= app_pet.pet.name%>

<% if !app_pet.status.nil? %>
  <p><%= app_pet.status %></p>
<% else%>
   <%= button_to "Approve #{app_pet.pet.name}", "/admin/applications/#{@application.id}/pets/#{app_pet.pet_id}?status=Approved", method: :patch %>
    <%= button_to "Reject #{app_pet.pet.name}", "/admin/applications/#{@application.id}/pets/#{app_pet.pet_id}?status=Rejected", method: :patch %>
<% end %>

<%end%>
</section>



