<h1>Create a New Application</h1>

<p>Please fill out the following information:</p>
<%= form_with url: "/applications", method: :post, data: { turbo: false } do |form| %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Street Address: <%= form.text_field :street_address %></p>
  <p>City: <%= form.text_field :city %></p>
  <p>State: <%= form.text_field :state %></p>
  <p>Zip Code: <%= form.text_field :zip_code %></p>
  <p>Why you want to adopt? <%= form.text_field :description %></p>
  <%= form.submit 'Submit' %>
<% end %>
