<h1>Adoption Application</h1>

 <h2>Name: <%= @adoption_app.name %></h2>
  <p>Street Address: <%= @adoption_app.street_address %></p>
  <p>City: <%= @adoption_app.city %></p>
  <p>State: <%= @adoption_app.state %></p>
  <p>Zip Code: <%= @adoption_app.zip_code %></p>  
  <p>Why I am applying: <br/><%= @adoption_app.description %></p>
  <p>Status: <%= @adoption_app.status %></p>

  <h3>Pets Applied For: <h3>
  <ul>
      <% @adoption_app.pets.each do |pet| %>
        <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
      <% end %>
  </ul>

<% if @adoption_app.pets.present? %>
  <% if @adoption_app.status == "In Progress" %>
    <%= form_with url: "/applications/#{@adoption_app.id}", method: :get, local: true do |form| %>
      <h3><%= form.label :ownership_description, "Why would you be a good owner to the pet(s)?" %></h3>
      <%= form.text_area :ownership_description %><br>
      <%= form.submit "Submit Application" %>
    <% end %>
  <% end %>
<% end %>

<% if @adoption_app.status == "In Progress" %>
  <h3>Add Pets to this Application:</h3>
  <%= form_with url: "/applications/#{@adoption_app.id}?search", method: :get do |form| %>
    <%= form.label :search, "Search Pet by Name: " %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= form.submit "Search" %>
  <% end %>

  <h3> Adoptable Pets: </h3>
  <% if @pets.nil? %>
    <p>No pets found</p>
  <% else %> 
    <ol>
      <% @pets.each do |pet| %>
        <li><%= pet.name %></li>
          <ul>
            <li>Breed: <%= pet.breed %></li>
            <li>Age: <%= pet.age %></li>
            <li>Adoptable: <%= pet.adoptable %></li>
          </ul>
          <%= form_with url: "/applications/#{@adoption_app.id}", method: :get do |form| %>
            <%= form.hidden_field :add_pet, value: pet.id  %>
            <%= form.submit "Adopt this Pet" %>
          <% end %>
      <% end %>
    </ol>
  <% end %>
<% end %>
