<h1>Adoption Application</h1>

 <h1><%= @adoption_app.name %></h1>
   <p><%= @adoption_app.street_address %></p>
   <p><%= @adoption_app.city %></p>
   <p><%= @adoption_app.state %></p>
   <p><%= @adoption_app.zip_code %></p>
   <p><%= @adoption_app.status %></p>
   <p><%= @adoption_app.description %></p>

