<% if @application.all_pets_approved %>
  <h1>Pet Application For <%= @application.name %> Is Approved </h1>
<% elsif @application.all_pets_approved == nil %>
  <h1>Pending Pet Application For <%= @application.name %> </h1>
  <p>Pets applied for:</p>
  <ul>
    <% @application.list_of_pets.each do |pet| %>
    <div id="pet-<%= pet.id %>">
      <li><%= pet.name %></li>
        <ul>
          <% if pet.application_pet_approved(params[:id]) %>
            <li>Pet Approved</li>
            <li><%= button_to 'Reject', update_application_pets_path, method: :patch, params: {:filter => "denied", :pet_id => pet.id} %></li>
          <% elsif pet.application_pet_approved(params[:id]) == false%>
            <li>Pet Rejected</li>
          <% elsif pet.already_approved? %>
            <li>This pet has already been approved for adoption</li>
            <li><%= button_to 'Reject', update_application_pets_path, method: :patch, params: {:filter => "denied", :pet_id => pet.id} %></li>
          <% else %>
            <li><%= button_to 'Approve', update_application_pets_path, method: :patch, params: {:filter => "approved", :pet_id => pet.id} %></li>
            <li><%= button_to 'Reject', update_application_pets_path, method: :patch, params: {:filter => "denied", :pet_id => pet.id} %></li>
          <% end %>
        </ul>
        <br/>
    </div>
    <% end %>
  </ul>
<% elsif @application.all_pets_approved == false %>
<h1>Pet Application For <%= @application.name %> Is Rejected </h1>
<% end %>
