<h1><%=@app.name%>'s Application</h1>
<p><%=@app.address%>, <%=@app.city%>, <%=@app.zip%></p>
<p><%=@app.description%></p>
<p><%=@app.status%></p>


<% @app.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>


<% if @app.status == "In Progress" %>
<h2>Search a pet</h2>
  <%= form_with url: "/apps/#{@app.id}?pet_name=#{params[:pet_name]}&commit=Search", method: :get do %>
  <%= text_field_tag "pet_name", params[:pet_name], placeholder: "Search pets by name here" %>
  <%= submit_tag "Submit" %>
  <% end %>
<% end %>

<h3>Pets matching search</h3>
  <% if params[:pet_name].present? %>
    <% @pets = Pet.search(params[:pet_name]) %>
    <% @pets.each do |pet| %>
      <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
      <% if @app.pets.include?(pet) %>
        <p>This pet is already on this application</p>
      <% else %>
        <%= button_to "Adopt #{pet.name}", "/apps/#{@app.id}?app_id=#{params[:id]}&pet_id=#{pet.id}&commit=Add+Pet", method: :patch %>
      <% end %>
    <% end %>
  <% end %>