<h1>Adoption Application</h1>
<h3>Applicant Name: <%= @adoption_app.name %></h3>
<h2>Applicant Address: </h2>
<ul>
<li>Street Address: <%= @adoption_app.street_address %></li>
<li>City: <%= @adoption_app.city %></li>
<li>State: <%= @adoption_app.state %></li>
<li>Zip Code: <%= @adoption_app.zip_code %></li>
</ul>
<h3>Description: <%= @adoption_app.description %></h3>
<h3>Pet Names: <%= @adoption_app.pet_names %></h3>
<h3>Status: <%= @adoption_app.status %></h3>

<%= form_with url: search_pets_adoption_app_path(@adoption_app), method: :get do |form| %>
  <%= form.label :search, "Search Pets by Name" %>
  <%= form.text_field :search, placeholder: "Search Pets by Name" %>
  <%= form.submit "Submit" %>
<% end %>

<% if @adopt_pets.present? %>
  <h2>Matching Pets</h2>
  <ul>
    <% @adopt_pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>
<% end %>