then I can see the following:
<h1> Name: <%=@application.name%> </h1> <br>
<p> <%= @application.address %> </p> <br>
<p> Description: <%= @application.description%> </p> <br>
<p> Pet Names: </p> 
<%= @pets.each do |pet| %> 
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %> <br>
<p> Application Status: <%= @application.status %> </p>



