<h3><%= @application.name %></h3>
<h4><%= @application.street_address %></h4>
<h4><%= @application.city %></h4>
<h4><%= @application.state %></h4>
<h4><%= @application.zip_code %></h4>
<p><%= @application.endorsement %></p>
<h5>Application Status: In Progress</h5>