<h1> Application: </h1>
<h3> Applicant's name: </h3>
  <p><%= @application.applicant_name %></p>
<h3> Applicant's address: </h3>
  <p><%= @application.full_address %></p>
<h3> Applicant's reason for adoption: </h3>
  <p><%= @application.description %></p>
<h3> Pet to be adopted: </h3>
<% @application.pets.each do |pet| %>
  <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
<%end%>
<h3>Application status: </h3>
<p><%= @application.application_status %></p>