<h1>Application Details</h1><br><br>

<p>Name:<%= @application.name %></p>
<p><%= @application.street_address %></p>
<p><%= @application.city %></p>
<p><%= @application.state %></p>
<p><%= @application.zip %></p>
<p><%= @application.description %></p>
<p><%= @pet.name %>
<p><%= @application.status %></p>