<h1>Adoption Application</h1>
<h3>Applicant Name: <%= @adoption_app.name %></h3>
<h2>Applicant Address: </h2>
<ul>
<li>Street Address: <%= @adoption_app.street_address %></li>
<li>City: <%= @adoption_app.city %></li>
<li>State: <%= @adoption_app.state %></li>
<li>Zip Code: <%= @adoption_app.zip_code %></li>
</ul>
<h3>Description: <%= @adoption_app.description %></h3>
<h3>Pet Names: <%= @adoption_app.pet_names %></h3>
<h3>Status: <%= @adoption_app.status %></h3>

<%= form_with url: "/adoption_apps/#{@adoption_app.id}/search_pets", method: :get do |form| %>
  <%= form.label :search, "Search Pets by Name" %>
  <%= form.text_field :search, placeholder: "Search Pets by Name" %>
  <%= form.submit "Submit" %>
<% end %>

<% if @adopt_pets.present? %>
  <h2>Matching Pets</h2>
  <ul>
    <% @adopt_pets.each do |pet| %>
      <li><%= pet.name %></li>
      <li> <%= button_to 'Adopt this Pet', {:action => "update",:pet_id => pet.id, :id=> @adoption_app.id}, method: "put", class:"button"%></li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: "/adoption_apps/#{@adoption_app.id}/submit_application", method: "put" do |form| %>
  <%= form.label :good_owner_expl, "Why would you be a good owner?" %>
  <%= form.text_field :good_owner_expl, placeholder: "Type here", name: "adoption_app[description]" %>
  <%= form.submit "Submit Application" %>
<% end %>