

<h1>Admin Shelters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Foster Program</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%= shelter.name %></td>
        <td><%= shelter.city %></td>
        <td><%= shelter.foster_program ? 'Yes' : 'No' %></td>
        <td><%= shelter.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<section id="pending-apps">
  <h2> Shelters With Pending Applications </h2>
  <ul> 
    <% @shelters_pending_applications.uniq.each do |shelter| %>
      <%= shelter.name %>
      <br>
      <% end %>
  </ul>
</section>