<h1>Admin Shelters Index</h1>
<% @shelters.each do |shelter| %>
  <p>Shelter Name: <%= link_to shelter.name, "/shelters" %></p>
  <p>Shelter City: <%= shelter.city %></p>
  <p>Shelter Rank: <%= shelter.rank %></p>
  <p>Shelter Foster Program: <%= shelter.foster_program %></p>
  <br>
<% end %>
<div id="pending">
<h2> Shelters with Pending Applications</h2>
<% @shelters_with_pending_applicants.each do |shelter| %>
  <p>Shelter Name: <%= shelter.name %></p>
  <p>Shelter City: <%= shelter.city %></p>
  <p>Shelter Rank: <%= shelter.rank %></p>
  <br>
<% end %>
<div>