<h1>Admin Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>

<h3>Shelters with Pending Applications</h3>

<section id="pending_applications">
  <% @pending_applications.each do |shelter| %>
    <p><%= shelter.name %></p>
  <% end %>
</section>