<h1>Admin Shelters</h1>
<% @shelters.reverse_alpha.each do |shelter| %>
  <h3><%= shelter.name %></h3>
   <p>City: <%= shelter.city %></p>
   <p>Foster Program: <%= shelter.foster_program %></p>
   <p>Rank: <%= shelter.rank %></p>
<% end %>
<br>
<section>
  <h2>Shelters with Pending Applications</h2>
  <ol id="shelters-pending">
    <% @shelters.pending_apps.each do |shelter| %>
      <li><%= shelter.name %></li>
    <% end %>
  </ol>
</section>

