<%= render partial: "layouts/shelter_render" %>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>

<div id="shelters_with_pending_apps">
  <h2>Shelters with Pending Applications</h2>

  <%= @pending_apps.each do |shelter| %>
    <%= shelter.name %>
  <% end %>
</div>