<h1>Shelter: <%= @shelter.name_and_address[:name]%></h1>
<h3>Location: <%= @shelter.name_and_address[:city] %></p>

<di id="shelter-statistics">
  <h3>Shelter Statistics:</h2>
    <p>Average age of adoptable pets: <%= @shelter.average_age_of_adoptable_pets %> </p>
    <p>Pets available for adoption: <%= @shelter.number_of_adoptable_pets %></p>
    <p>Pets that have been adopted: <%= @shelter.number_of_pets_adopted %></p>
</div>


<div id="action-required">
  <h3>Action Required</h3>
  <% @shelter.pending_pets.each do |pet| %>
    <p id="action-required-<%= pet.id %>"><%= pet.name %> - <%= link_to 'Take Action', show_admin_applications_path(id: @shelter.application_id_for_pet(pet.id)), data: { turbo_method: :get } %></p>
  <% end %>
</div>
