<h2>Applicant Name: <%= @applicant.name %></h2>
<p>Address:<br/>
<%= @applicant.street_address %><br/>
<%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip_code %></p>
<p>Why I would make a good home:<br/>
<%= @applicant.description %></p>
<p>Application Status:<br/>
<%= @applicant.application_status %></p>

<h3>Pets being applied for:</h3>
<ul>
<% @applicant_pets.each do |pet| %>
  <div id= <%= "#{pet.id}" %>>
    <li><h3><%= pet.name %></h3></li>
    <p>id: <%= pet.id %></p>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: <%= pet.adoptable %></p>
    <p>Status: <%= pet.applicants_pets.find_by(pet_id: pet.id).status  %></p>
      
    <% if pet.applicants_pets.find_by(pet_id: pet.id).status == 'Pending' %>
      <li>
        <%= button_to "Approve Application", "/admin/applicants/#{@applicant.id}/pets/#{pet.id}/approve", method: :patch %>
        <%= button_to "Reject Application", "/admin/applicants/#{@applicant.id}/pets/#{pet.id}/reject", method: :patch %>
      </li>
    <% end %> 
  </div>
<% end %>
