<h1><%= @application.name + "'s Application" %></h1>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
  <li><%= @application.city %></li>
  <li><%= @application.state %></li>
  <li><%= @application.zip_code %></li>
<p>Why I would make a good home: <%= @application.description %></p>
<p>Applying to Adopt: 
  <% @application.pets.each do |pet| %>
    <%= pet.name %>
  <% end %>
</p>
<p>Status: <%= @application.status %></p>