<h1>Application Details</h1>
<h2>Name: <%= @application.name %></h2>
<p><strong>Address Line 1:</strong> <%= @application.street %></p>
<p><strong>Address Line 2:</strong> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p><strong>Description:</strong> <%= @application.description %></p>