<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav>
    <ul>
      <li>
        <%= link_to "Pets", "/pets" %>
      </li>
      <li>
        <%= link_to "Shelters", "/shelters" %>
      </li>
      <li>
        <%= link_to "Veterinarians", "/veterinarians" %>
      </li>
      <li>
        <%= link_to "Veterinary Offices", "/veterinary_offices" %>
      </li>
      <li>
        <%= link_to 'Admin Shelters', admin_shelters_path, data: { turbo_method: :get } %>
      </li>
      <li>
        <%= link_to 'Admin Applications', admin_applications_path, data: { turbo_method: :get } %>
      </li>
    </ul>

  </nav>
  <body>
    <% if !params[:pet_name] %>
      <%= render partial: "shared/forms/flash_message" %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
