<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <!-- Main Menu -->
    <nav class="main-menu">
      <ul>
        <li>
          <span class="main-menu-label">Main Menu</span>
          <%= link_to "Pets", "/pets" %></li>
        <li><%= link_to "Shelters", "/shelters" %></li>
        <li><%= link_to "Veterinarians", "/veterinarians" %></li>
        <li><%= link_to "Veterinary Offices", "/veterinary_offices" %></li>
        <li><%= link_to "Applicants (FOR DEBUGGING)", "/applicants" %></li>
        <li><%= link_to "Admin Shelter (FOR DEBUGGING)", "/admin/shelters" %></li>
      </ul>
    </nav>
    <!-- Admin Menu -->
    <nav class="admin-menu">
      <ul>
        <li>
          <span class="admin-menu-label">Admin Menu</span>
          <%= link_to "Admin Shelters", admin_shelters_path %>
        </li>
        <!-- Add any other buttons in the future <li></li> -->
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
